[2021-06-25 08:19] Marius1311 opened #626 "Add proliferation and apoptosis gene sets to estimate growth rates"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

We need this for the external WOT kernel and for our real-time tutorial. @michalk8, could you prepare the abstraction/infrastructure for this

[2021-06-25 10:34] WeilerP opened #627 "Tox deprecation warning"
## Description

Running `tox -e py38-linux` using `cellrank@dev` throws the following deprecation warning

[code]

[2021-06-25 11:35] WeilerP opened #628 "Developer installation"
## Description

Running `pip install -e '.[dev]'` does not install all packages required for a full development cycle. For example, any modules related to testing are not installed.
IMO, a developer installation should allow running the entire codebase as well as unit tests without having to install additional libraries. What do you think @Marius1311, @michalk8?

[2021-06-25 11:54] michalk8 commented on #628
It installs all the necessary things - `tox` and pre-commit (the latter is just for convenience of not running `tox -e lint`), think it's fine as it is.

[2021-06-25 11:57] WeilerP commented on #628
Running

[code]

failed for me since, e.g., `pytest` wasn't installed.

[2021-06-25 11:58] michalk8 commented on #627
Thanks for posting this. This is related to https://tox.readthedocs.io/en/latest/config.html#conf-sitepackages
and also to #626 .

[2021-06-25 11:59] michalk8 commented on #628
Thanks for catching this, indeed, the required packages are not listed in `tox.ini`, will fix it soon.

[2021-06-25 14:17] hspitzer opened #629 "Use cr.pl.cluster_lineage with cluster labels"
I’m currently using CellRank to analyse different expression patterns along a lineage. For this, I use `cr.pl.cluster_lineage`. While this function already shows a lot of the information we need, I was wondering if its possible to add information about the cluster values at the bottom, as possible with `cr.pl.heatmap` using the `cluster_key` argument.
I looked at the code a bit, but was not able t

[2021-06-25 23:14] michalk8 commented on #628
Hmm, upon further inspection, it seems correct, the `test` requirements are still in `setup.py` and also used in `tox.ini`. Furthermore, I wasn't able to reproduce this or the warning in #627 (let's move the discussion here).

[2021-06-25 23:14] michalk8 commented on #627
moved discussion to #628

[2021-06-25 23:14] #627 closed

[2021-06-27 00:28] michalk8 commented on #629
Did you mean something like this, @hspitzer ? This shows all cluster labels within the `[tmin, tmax]`, where the model was fit, not only the labels at the resampled points (or points closest to the resampled points), as done in `cellrank.pl.heatmap` - there I believe it's necessary because of `seaborn`, would have to recheck.
![cluster_lin](https://user-images.githubusercontent.com/46717574/123529

[2021-06-27 19:10] WeilerP opened #632 "Computing absorption probabilities with more cores than cells in terminal state fails"
## Description

The calculation of absorption probabilities with more cores than cells identifying the terminal states fails and throws an `IndexError`.

The problem can be reproduced by running the tutorial [Kernel and estimators](https://cellrank.readthedocs.io/en/stable/kernels_and_estimators.html) using

[code]

[code]

#### Versions:

[2021-06-28 09:42] michalk8 commented on #632
Thanks @WeilerP , closed via #633

[2021-06-28 09:42] #632 closed

[2021-06-28 09:51] Marius1311 opened #635 "Add visualizations for macrostate composition"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

After having computed macrostates, it's often very insightful to check which cells they're made up from, i.e. what the identity of the top `N

[2021-06-28 10:08] Marius1311 opened #636 "Add high-level plotting function for log-odds ratios"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Esp. for time-series data, it's important to see how the probability of one fate vs. another evolves over time. For this, it would be importa

[2021-06-28 10:21] Marius1311 opened #637 "Add estimator-level plotting function for driver genes"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Show genes in scatter plot, correlations with `lin_1` vs. `lin_2`. Optionally, annotate some genes to check with ground truth. Example plot i

[2021-06-28 11:23] michalk8 commented on #629
I've added an option to plot more than 1 covariates, it's called `covariate_key`.
closed via #634

[2021-06-28 11:23] #629 closed

[2021-06-28 14:40] Marius1311 opened #639 "Exchange links in tutorials using bibtex"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Do this for the old tutorials.

[2021-06-28 14:59] hspitzer commented on #629
Thanks a lot @michalk8! This is exactly what I was hoping for! I'll try this out asap on my own data.
I was only thinking about one categorical value, but for the future plotting several might be very useful!

One question though, do the cluster labels reflect the current lineage? E.g. if I have a branching point somewhere on the lineage, are the cluster labels plotted here corresponding to the li

[2021-06-28 15:09] Marius1311 commented on #635
Note: there was a bug in my original implementation above, colors in the stacked bar chart did not match the correct colors corresponding to the categorical annotations, see Fig. 1 & 2 below. For example, day 12 should be red-ish, but it's black.

## Correct categorical annotations
![image](https://user-images.githubusercontent.com/24494650/123660036-97676700-d833-11eb-9fc1-af6a59624b09.png)

## S

[2021-06-28 15:12] michalk8 commented on #625
closed via #631

[2021-06-28 15:12] #625 closed

[2021-06-28 15:28] michalk8 commented on #635
Ok, is it fixed in the snippet above?

[2021-06-28 15:39] Marius1311 commented on #626
@michalk8, from Schiebinger et al, Cell 2019, you should get 98 proliferation markers and 193 apoptosis markers.

[2021-06-28 15:48] Marius1311 commented on #626
For humans, use
- this [link](https://www.gsea-msigdb.org/gsea/msigdb/cards/HALLMARK_APOPTOSIS) for apoptosis genes (161 of them).
- Following the [scanpy tutorial on the cell cycle](https://nbviewer.jupyter.org/github/theislab/scanpy_usage/blob/master/180209_cell_cycle/cell_cycle.ipynb), I would recommend to use [this list](https://www.dropbox.com/s/3dby3bjsaf5arrw/cell_cycle_vignette_files.zip?d

[2021-06-28 15:52] Marius1311 commented on #626
With mouse and human covered, we should have enough for now. We can always add more later when we come across informative resources.

[2021-06-28 15:57] Marius1311 commented on #635
No, the bug sits very much in there.

[2021-06-28 17:01] michalk8 commented on #629
@hspitzer

No, we never do any hard-assignment of cells to lineages.

[2021-06-29 06:45] Marius1311 commented on #636
I would rather try to do this as fast as possible now and skip pseudotime binning, we can add this later.

[2021-06-29 08:56] mtvector opened #643 "Proportion of cells in terminal states biases absorbtion probability?"
Hi there,
I have noticed that it seems like the probabilities are biased towards more common end states, which have been manually annotated, and I would like to know which transition cells are likely to give rise to rare end states. Is this true in your experience? If so, is there a way to renormalize the probabilities so that probabilities don’t “default to” the most common terminal states?
Thank

[2021-06-29 10:09] michalk8 opened #644 "1.4 release"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [x] Other?

Meta issue to track things need to be done before the release:
- [x] close #647
- [x] ~~update pre-commit & disable macOS testing & enable 3.

[2021-06-29 10:09] michalk8 commented on #636
Agreed, it's also very easy to do for the user as `pandas.cut(pt, bins=...)`.

[2021-06-29 13:35] Marius1311 commented on #643
Hi @mtvector, if you know the terminal states in your system, I would recommend using GPCCA to compute macrostates and to manually assign some of them terminal status - that ensures the states actually have some level of metastability. By default, that uses the 30 most confidently assigned cells per state to compute absorption probabilities. We show how to do this e.g. in the [CytoTRACE tutorial](

[2021-06-29 15:03] michalk8 commented on #626
closed via #630

[2021-06-29 15:03] #626 closed

[2021-06-29 15:39] michalk8 commented on #628
@Marius1311 can you reproduce on your Mac?

[2021-06-29 15:42] michalk8 commented on #619
closed via #638

[2021-06-29 15:42] #619 closed

[2021-06-29 16:48] Marius1311 commented on #628
I'll check this out, however, it's a bit tight before the release - I'll look into it afterwards, we can exclude this from the release.

[2021-06-29 16:50] Marius1311 commented on #619
Thanks @WeilerP, great work! I'm really glad this worked out so quickly, very well done!

[2021-06-29 19:03] michalk8 commented on #635
closed via #641

[2021-06-29 19:03] #635 closed

[2021-06-29 19:11] michalk8 commented on #636
closed via #642

[2021-06-29 19:11] #636 closed

[2021-06-29 20:30] mtvector commented on #643
So you're saying that calculating absorption probabilities after computing macrostates will have a different result from `set_final_states`?

Here's plots of what I'm talking about:
![image](https://user-images.githubusercontent.com/28308459/123862523-49a73900-d8dd-11eb-9c0f-c1c48cb9901e.png)
![image](https://user-images.githubusercontent.com/28308459/123862588-62afea00-d8dd-11eb-9f61-75d320d41d15

[2021-06-29 20:46] michalk8 commented on #637
closed via #640

[2021-06-29 20:46] #637 closed

[2021-06-30 07:59] michalk8 opened #646 "Release notes 1.4"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

...

[2021-06-30 08:27] WeilerP commented on #619
@Marius1311, should the section *Computing fate probabailities* in the [kernel and estimators](https://cellrank.readthedocs.io/en/stable/kernels_and_estimators.html#Estimate-fate-probabilities) tutorial be updated? Or at least a note added that the comment *"did not select too many cells per terminal state when calling g.set_terminal_states_from_macrostates() or g.compute_terminal_states(). The de

[2021-06-30 09:21] Marius1311 commented on #643
Hi @mtvector, yes, I think you should make sure that you have at least roughly the same number of cells per terminal state. The best way to do this is to use the GPCCA estimator to compute macrostates and then to manually or automatically annotate some of them as terminal. This will make sure you have the same number of cells per terminal state, and it will also make sure that you assign cells wit

[2021-06-30 09:27] Marius1311 commented on #619
Nice catch! I'll update tutorials today anyways and will make the corresponding changes to this section.

[2021-06-30 14:28] michalk8 commented on #646
closed via #647

[2021-06-30 14:28] #646 closed

[2021-06-30 15:07] michalk8 commented on #597
closed via https://github.com/theislab/cellrank_notebooks/pull/35

[2021-06-30 15:07] #597 closed

[2021-06-30 15:07] michalk8 commented on #639
closed via https://github.com/theislab/cellrank_notebooks/pull/35

[2021-06-30 15:07] #639 closed

[2021-06-30 15:08] #644 closed

[2021-06-30 16:47] Marius1311 opened #650 "Update bioconda to v1.4"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

...

[2021-06-30 17:01] mtvector commented on #643
Thanks for the explanation, I understand now! This makes sense to me.

On Wed, Jun 30, 2021, 02:21 Marius Lange ***@***.***> wrote:

[2021-06-30 17:12] #643 closed

[2021-06-30 17:35] michalk8 commented on #650
Related PR: https://github.com/bioconda/bioconda-recipes/pull/29348

[2021-06-30 20:16] #650 closed

[2021-06-30 20:16] michalk8 commented on #650
Done.

[2021-07-01 11:50] Marius1311 opened #651 "Add contributions section to the readthedocs page"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Similar to [pyGPCCA](https://pygpcca.readthedocs.io/en/latest/) and [scanpy](https://scanpy.readthedocs.io/en/latest/). We are three people n

[2021-07-01 11:51] Marius1311 commented on #628
Is this still an issue?

[2021-07-01 11:53] michalk8 commented on #593
solved via https://github.com/theislab/cellrank/issues/650

[2021-07-01 11:53] #593 closed

[2021-07-01 11:57] WeilerP commented on #593
@michalk8, is still really solved? Doesn't the issue persist because of `scvelo`?

[2021-07-01 11:59] michalk8 commented on #593
The underlying issue should be solved (it's the same as installing through `pip`) - in CellRank's `meta.yml` file, there was no upper bound pin for `numba` and `scvelo` pins `umap-learn` from above, which doesn't work with newer numba versions.

[2021-07-01 12:00] WeilerP commented on #593
Yes, sorry, my bad. I thought the upper bound on `numba` was removed but it was actually added it. 👍 . I'll let you know once the new `scvelo` version has been released.

[2021-07-01 12:02] michalk8 commented on #620
@Marius1311 what's the priority for this? Also, I remember discussing the tree how to solve the missing directionality; maybe use directed PAGA?

[2021-07-01 12:03] michalk8 commented on #628
Did you try locally on your machine with a fresh conda environment whether you get the same issues as mentioned above? If yes, let's discuss tomorrow.

[2021-07-01 12:48] Marius1311 commented on #620
- priority: let's do this soon as it's very similar to the single-flow plotting function and we can benefit from our previous work
- methodology: can we just do this by a set of rules? i.e.
  - flows can only go from earlier to later time-points
  - if A -> B and B -> C and D, then there can be no flow from A -> C or D

Directed PAGA won't work for us here - it already needs a pseudotime an initia

[2021-07-01 13:22] Marius1311 commented on #628
I tried:
- created new conda environment with python 3.8
- install cellrank: `pip install -e '.[dev]'`
- install pre-commit: `pre-commit install`
- run tox: `tox`

See below for the output I got. Is this what you guys wanted me to run?

[code]

[2021-07-01 13:33] Marius1311 commented on #603
@WeilerP, I think we got it: we need to make sure we don't mess with the estimate of local density, i.e. the `1/n_i` term. We need to make sure that for every kernel, this term corresponds to the actual KNN graph density, not to our final transition matrix, which may have removed edges etc.

I'm excited to hear whether this solves the problem with the hard `PseudoTimeKernel` - that would tell us w

[2021-07-01 15:58] haikuol opened #652 "Transition matrix is not row-stochastic."
...
Hello!

I am following the tutorial of Time series datasets on my own dataset. I did everything on the basis of X_umap instead of force_directed.
But I got the following error when running wk.plot_random_walks. Do you have any thoughts? Thanks in advance!

---------------------------------------------------------------------------
ValueError                                Traceback (most recen

[2021-07-01 16:01] haikuol commented on #652
This is what I got from wk.compute_transition_matrix( growth_iters=3, growth_rate_key="growth_rate_init", last_time_point="connectivities"):

Computing transition matrix using Waddington optimal transport
Using `2684` HVGs from `adata.var['highly_variable']`
Using default cost matrices
Computing transport maps for `5` time pairs
100%
5/5 [08:06<00:00, 99.77s/time pair]
    Finish (0:08:06)
computi

[2021-07-01 17:58] michalk8 commented on #652
Hi @haikuol ,

seems like some rows of the transition matrix do not sum to 1 within the default tolerance, could you try running:
[code]
to further see how large the deviation is? My suspicion is that either it's just large enough above the default threshold even after normalization or that some +/- inf values have crept in the transport map calcuation (currently, we only check for NaNs).

Just no

[2021-07-01 18:22] haikuol commented on #652
@michalk8 Thanks for your quick response!

I got the following by running:

mask = ~np.isclose(wk.transition_matrix.sum(1), 1.0)
print(np.isinf(wk.transition_matrix.data).any())
print(np.isnan(wk.transition_matrix.data).any())
print(np.sum(mask))
if np.sum(mask):
    print(wk.transition_matrix[mask, :].sum(1))

False
False
1
-------------------------------------------------------------------------

[2021-07-01 20:18] michalk8 commented on #652
Based on the above, thare are no NaN or infs in the transition matrix, which is great and that there's only 1 row
where the values don't sum to 1. Unfortunately, I've made a typo in the aove, could you just run this?
[code]
2 things can happen:
- problems with the precision: should be fixed by #653
 (you can try to install the update version as `pip install git+https://github.com/theislab/cellrank

[2021-07-01 21:12] haikuol commented on #652
Sounds great! I got these two values:

[[7.12968047e-16]]
[7.12968047e-16]

How to interpret them please?
Has it already been fixed in the updated version or when will it be fixed? Thanks again!

[2021-07-01 21:41] michalk8 commented on #652
I think the problem was that we had some small constant `eps` to avoid division by zero when row-normalizing the values, which could've caused this - I've issued a fix right now, you could try it by installing the `dev` as mentioned above.

Without knowing the scale of other values in the transport maps, it's hard pin it down:
- if all the values similarly small, it could just mean that this parti

[2021-07-02 07:26] Marius1311 opened #654 "Discuss kernel weighting scheme"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Could think of using something like WNN to have local weighting of kernels.

[2021-07-02 10:37] michalk8 commented on #506
closed in favor of #654

[2021-07-02 10:37] #506 closed

[2021-07-02 10:38] michalk8 commented on #618
Have you had any success with the installation @EmilyMiddendorp ?

[2021-07-02 14:05] EmilyMiddendorp commented on #618
Hi Michal,

Unfortunately no. I tried uninstalling llvmite manually, but that did not allow to install CellRank and it gave me problems when running ScVelo. I am not really sure what the problem is anymore. I thought at first the Numba version problem that I had encountered before and I saw on the GitHub that other users as well but that was not it either. Any other tips you might have for me?

[2021-07-03 23:43] michalk8 commented on #603
@WeilerP @Marius1311
Can confirm that it was the case @WeilerP found, here's modified code snippet that works (haven't debugged it yet for corner cases/maybe there's cleaner impl. + maybe some check for connectivities [that all kernels use the same?]):
[code]
Code to produce below figures:
[code]
Soft:
![soft](https://user-images.githubusercontent.com/46717574/124369141-31764780-dc58-11eb-8823-245

[2021-07-04 09:38] michalk8 commented on #652
@haikuol does the error still persist when you install from `dev`?

[2021-07-04 09:52] michalk8 commented on #618
The only thing that comes to mind is to create a new conda environment and try to install the newest release as:
[code]

[2021-07-04 14:31] haikuol commented on #652
I think it works well now. Thanks for your help!

[2021-07-04 15:18] michalk8 commented on #652
Glad that it works. Closing this.

[2021-07-04 15:18] #652 closed

[2021-07-05 05:01] WeilerP commented on #603
@michalk8, thanks! Just to summarize: As of [La Manno, et al.](https://static-content.springer.com/esm/art%3A10.1038%2Fs41586-018-0414-6/MediaObjects/41586_2018_414_MOESM1_ESM.pdf), the predicted velocity displacement of a cell is given by

<img width="357" alt="Screenshot 2021-07-04 at 12 06 45 PM" src="https://user-images.githubusercontent.com/28675704/124381030-a7ae9480-dcc0-11eb-878f-d01027d1c

[2021-07-05 07:55] WeilerP opened #656 "Unit tests fail locally after pulling latest changes"
## Description

After pulling the latest changes, the tests did not pass for me anymore when running

[code]

`tox` was using incompatible versions of `umap-learn` and `numba` (the same issue as in theislab/scanpy#1756 or theislab/scvelo#387) and a wrong version for `wot`. The issue with `wot` was

[code]

The keyword argument `cost_matrix` is not yet included in any tagged version of `wot`. I had

[2021-07-05 08:07] michalk8 commented on #656
Strange, `umap-learn` should be only problem for `3.9` and the correct version of `wot` is on the `dev` branch (though not on master: https://github.com/theislab/cellrank/blob/dev/tox.ini#L100), will take a look.

[2021-07-05 08:30] michalk8 commented on #603
Agree it should not modify the tmat, it was just to quickly test. I'd say either ensure that connectivities and biased connectivities are always sorted and sort them in `_read_from_adata` and `bias_knn` respectively.

Think @Marius1311 can tell you more about why it's done this way, we've had similar discussion in https://github.com/theislab/cellrank/issues/530.
Also, the threshold is clipped [her

[2021-07-05 08:59] Marius1311 commented on #603
Let's discuss this today in a call, see mattermost. The main point in my opinion are
- does the order of the indices play a role?
- do we want the hard PseudotimeKernel to mimic Palantir? That decides how we set the threshold, really. This also determines whether for `fract_to_keep = 1`, we get equivalent results to the `ConnectivityKernel`.
- how can we ensure that we get an unbiased embedding de

[2021-07-05 09:37] WeilerP opened #657 "Unit tests do not run when subset is specified"
## Description

Running `tox -e py38-linux -- -k "TestExternal"` doesn't seem to actually run the desired tests but only produce warnings for me. Any idea why this is happening or am I simply misunderstanding the output?

[code]

[code]

#### Versions:

[2021-07-05 09:40] michalk8 commented on #657
There's no `TestExternal` named test/class, try
[code]

[2021-07-05 09:41] WeilerP commented on #656
Does `tox -e py38-linux` recheck the installed packages and down-/upgrade them if needed?

[2021-07-05 09:44] WeilerP commented on #657
Ah yes, good point. Sorry 'bout that. 🙈 . Should we then maybe update the [contributing guide](https://github.com/theislab/cellrank/blob/dev/CONTRIBUTING.rst#running-tests) s.t. the given example can be run as is?

[2021-07-05 09:51] michalk8 commented on #657
done in #655

[2021-07-05 10:00] michalk8 commented on #656
Afaik not yet (see [here](https://github.com/tox-dev/tox/issues/149), it's supposedly on the `rewrite` branch), you'd have to run `tox -e <env> --recreate`.

[2021-07-05 10:00] WeilerP commented on #657
Shouldn't it be `tox -e py38-linux -- tests/test_kernels.py` instead of `tox -e py38-linux -- -k tests/test_kernels.py`? `-k` checks for matching test names, if I remember correctly? The latter doesn't work for me:

[code]

[2021-07-05 10:29] WeilerP commented on #656
Re the `wot` part: Doesn't this mean that after running `pip install 'cellrank[external]'` the `WOTKernel` cannot be used since `wot<=1.0.8.post2` is installed ATM?

[2021-07-05 10:36] michalk8 commented on #656
Yes, that's why in [docs](https://cellrank.readthedocs.io/en/stable/api/cellrank.external.kernels.WOTKernel.html#cellrank.external.kernels.WOTKernel) we have the infor that it should be installed from `git`. In general, you can't specify `git` requirements in `setup.py`.

[2021-07-05 11:27] WeilerP commented on #656
Yes, a workaround would be to specify the requirements in a separate file, e.g. `requirements_external.txt` via

[code]

and then parse this file in `setup.py` similar as it is done for `"docs"` ATM. Might be possible to define a single `requirements.yml` file and read the different packages from there.

[2021-07-05 12:51] Marius1311 commented on #603
Outcomes
- re indices: we won't sort indices upon computing the transition matrix, need to take care of this when computing embedding projection
- re Palantir: we can pass a custom scheme, therefore, let's just test both: current implementation vs. an implementation that uses the symmetrized KNN matrix
- issue an error/warning when fract_to_keep not in [0, 1]
- WOT: need to figure out, send email.

[2021-07-05 20:41] michalk8 commented on #651
closed via #655

[2021-07-05 20:41] #651 closed

[2021-07-05 20:41] michalk8 commented on #657
closed via #655

[2021-07-05 20:41] #657 closed

[2021-07-05 20:42] michalk8 commented on #656
closed via #655
let's continue the dev problems discussion in #628

[2021-07-05 20:42] #656 closed

[2021-07-05 20:43] michalk8 commented on #497
I'd close this, since it's really low-prio.

[2021-07-05 20:44] michalk8 commented on #517
@Marius1311 what's the status here? Should we move this to https://github.com/msmdev/pyGPCCA/issues/24?

[2021-07-06 07:56] WeilerP commented on #603
I checked the `PseudotimeKernel` with a custom scheme which uses the symmetrized kNN matrix:

[code]

Using `frac_to_keep=0.3` and `fraction=0.3`, the results are almost identical

#### Current implementation

<img width="496" alt="current_implementation" src="https://user-images.githubusercontent.com/28675704/124561169-e1f17080-de3d-11eb-9d4b-d77f3b42b913.png">

#### Custom scheme using symmetriz

[2021-07-06 08:21] WeilerP opened #659 "Bound `frac_to_keep` in hard thresholding pseudo-time scheme"
- [x] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

## Description

The fraction of neighbors to keep when using the hard thresholding scheme in the `PseudotimeKernel` should be in the interval

[2021-07-06 08:28] WeilerP commented on #659
If we want more sophisticated type checks, we could, for example, use [pydantic](https://pydantic-docs.helpmanual.io/).

[2021-07-06 13:30] michalk8 commented on #659
Looks nice, but it's only for types, right? Contracts might be nicer (i.e. to inspect whether `key` is present in `AnnData`, see [here](https://github.com/Parquery/icontract).

closed via #660

[2021-07-06 13:30] #659 closed

[2021-07-06 14:01] demuellae opened #661 "Option to run without MPI"
Hi,
I am trying to run cr.tl.terminal_states and receive the error message below. The error seems linked to OpenMPI and not directly to cellrank.  I still though I'd ask: Is it possible to deactivate OpenMPI for running this function?

 OPAL ERROR: Unreachable in file pmix3x_client.c at line 112
--------------------------------------------------------------------------
The application appears to h

[2021-07-06 14:31] Marius1311 commented on #618
Hi @EmilyMiddendorp, does this persist in CellRank 1.4, given @michalk8's hints from above?

[2021-07-06 14:58] Marius1311 commented on #517
Sure, feel free to move this one.

[2021-07-06 15:05] Marius1311 commented on #603
Thanks @WeilerP!

With your second point, I imagine you refer to the difference between your custom implementation with `fract = 1` and the `ConnectivityKernel`. Could you check whether density normalization was set to `True` for the `ConnectivityKernel`? That could explain the differences.

[2021-07-06 15:32] michalk8 commented on #661
Hi @demuellae ,
you should be able to use the following:
[code]
Note that this will dramatically slow down computation of the Schur decomposition and works only on dense matrices.
For computing absorption probabilities, you can run:
[code]
This will use `scipy` sparse/dense solvers under the hood, but will also most likely be slower than PETSc.

[2021-07-06 15:34] michalk8 commented on #517
closed in favor of https://github.com/msmdev/pyGPCCA/issues/24

[2021-07-06 15:34] #517 closed

[2021-07-07 15:03] WeilerP commented on #497
Fine by me. I'll potentially reopen it after scvelo has been refactored and made stable.

[2021-07-07 15:58] #497 closed

[2021-07-07 22:20] haikuol opened #662 "How can I get quatitative measurements of wk.plot_single_flow"
...
Hello!

I am following the tutorial of time series datasets.
At one step it runs 'wk.plot_single_flow' and generates a figure.
Although the cell flow visualization is very informative, I am not sure about the meaning of the flow. Does the width of a flow indicate the proportion of cell A that will become cell B later?
Insteading of just visualizing it, how can I get the exact width of a flow?

[2021-07-08 07:10] EmilyMiddendorp commented on #618
Hi Marius,

The problem still persists with CellRank 1.4. I tried all the hints from Michal again, all the dependencies are installed, but I still get the same llvmlite error.

[2021-07-08 10:12] michalk8 commented on #661
I believe this can be closed - the above should not use MPI in any way; feel free to re-open.

[2021-07-08 10:12] #661 closed

[2021-07-08 14:55] Marius1311 commented on #662
Hi @haikuol, thanks for your question. You're right, the width of a flow corresponds to the amount of mass that flows from cluster A to B at time point t. This plotting function is meant to give you a qualitative overview of your dataset - it's not meant to be quantitative. In general, cellrank uses `kernels` to compute transition matrices and to visualize them and `estimators` to do (quantitative

[2021-07-08 15:01] Marius1311 commented on #618
@michalk8 I think your expertise is needed here.

[2021-07-09 09:28] WeilerP commented on #603
Yes, the difference was w.r.t custom implementation with `fraction=1` and the `ConnectivityKernel`. I reran the `ConnectivityKernel` using

[code]

and the two now match:

#### PseudoTimeKernel w/ custom callback as defined [here](https://github.com/theislab/cellrank/issues/603#issuecomment-874545279)

<img width="492" alt="pseudo_time_kernel" src="https://user-images.githubusercontent.com/2867570

[2021-07-09 09:59] WeilerP commented on #603
I also played around with the `WOTKernel`

### Current implementation

Using the current implementation the projection is wrong as you already mentioned in the [issue description](https://github.com/theislab/cellrank/issues/603#issue-913445626).

<img width="393" alt="original" src="https://user-images.githubusercontent.com/28675704/125056815-e7062800-e0a8-11eb-9520-2868b2da9d23.png">

### Without

[2021-07-09 11:21] Marius1311 commented on #603
Nice, we figured this one out!

[2021-07-09 11:27] Marius1311 commented on #603
Okay, so I take from this that we haven't really figures it out for the WOT kernel yet. However, we know how to do it for all KNN-based transition matrices. To prevent getting lost, I would suggest we implement the fix for the embedding projection we found for the hard threshold kernel, discuss the hard thresholding scheme in a separate issue (number of neighbors considered), and also discuss embe

[2021-07-09 11:31] WeilerP commented on #603
Sounds exactly what I would do! I'll open a PR fixing the embedding projection ASAP.

[2021-07-09 12:37] Marius1311 opened #663 "Prettify our tutorials"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

Try jupytex to prettify our tutorials.

[2021-07-11 13:21] michalk8 commented on #620
@Marius1311 current progress:
![index](https://user-images.githubusercontent.com/46717574/125196759-89114600-e24a-11eb-8d2c-31d0752c1e8f.png)

Re horizntal lines, 2 problems:
- the smoothing with loess doesn't work (way to oversmooths, am fiddling with params/other functions), though I think non-smoothed values (in the plot above) are also fine
- it seems like the depth for each cluster is specifi

[2021-07-12 06:36] WeilerP commented on #663
[MyST Markdown](https://myst-parser.readthedocs.io/en/latest/) can be used to add e.g. colored boxes with content. The [Jupyter Book](https://jupyterbook.org/intro.html) docs show quite a few example on how to use MyST Markdown and other features.

[2021-07-12 09:01] Marius1311 commented on #620
Let's talk about the details in a call today, see MM. In general, to check whether the function works, please use the Schiebinger data - it's a simpler process with fewer clusters and expected transitions.

[2021-07-14 10:12] TSun-tech opened #666 "plot_random_walks AttributeError"
...
Dear CellRank team,
I am trying to run the plot random walks example with the jupyter notebook script example, but has received an AttibuteError as following:
![image](https://user-images.githubusercontent.com/54978093/125604933-e302eadd-0bdc-4a7c-9cab-de1e138e23da.png)
May I ask how can I fix it?
Thanks a lot in advance!

[2021-07-14 22:13] michalk8 commented on #666
Hi @TSun-tech,

unfortunately, I wasn't able to reproduce this using the below code:
[code]

Could you please post the output of:
[code]
and your Python version?

[2021-07-15 09:22] Marius1311 commented on #666
Hi @TSun-tech, this is a bug - please select `bug` rather than `question` next time when opening an issue, then you will get another template and we will automatically check for the info we need. Only this way, we can ensure efficient debugging. Thanks!

[2021-07-15 10:29] TSun-tech commented on #666
Hi @michalk8 ,

My python is at version 3.8.8 and with CellRank 1.2.0.

[2021-07-15 10:30] TSun-tech commented on #666
Roger that, Sorry for the confusion...I was not sure if this is really a bug or my insufficient coding skill.

[2021-07-15 11:00] michalk8 commented on #666
@TSun-tech seems like you have an older version of CellRank. `plot_random_walks` was introduces in version `1.3.0` (current one is `1.4.0`), so you need to upgrade it as e.g. using `pip` as:
[code]
For more info, please see the [installation instructions](https://cellrank.readthedocs.io/en/stable/installation.html).

[2021-07-15 11:04] TSun-tech commented on #666
@michalk8
Problem solved!
Thank you so much!

[2021-07-15 11:04] #666 closed

[2021-07-16 00:52] CromitDolores0808 opened #667 "Unable to plot initial states"
...
Hello. Here is the error below. The code "cr.tl.terminal_states(adata, cluster_key="clusters", weight_connectivities=0.2)
cr.pl.terminal_states(adata,save="NEU_terminal_states.png") " was working perfectly. I wonder if it due to  weight_connectivities ? Many thanks.

[code]
  File "scvelo_run_for_all_patient_NEU+cellrank.py", line 1013, in <module>
    cr.pl.initial_states(adata, discrete=True

[2021-07-16 06:58] michalk8 commented on #667
Hi @CromitDolores0808 ,
I recognize this issue - it's due to the new pandas version `1.3.0` - this should've been fixed in https://github.com/theislab/cellrank/commit/62f28cd87532e361937344fa013289186d379909, so you'd need to install either development version of cellrank as
[code]
or downgrade pandas to e.g. `1.2.5`. Let me know if any of these solve the issue.

[2021-07-17 03:36] CromitDolores0808 commented on #667
Thanks. Reinstall was working.
But I'm not sure the output was correct, especially the fate map. There is  just one color in fate map. I'm not sure what's wrong with it.

[2021-07-17 10:42] michalk8 commented on #603
closed via #665

[2021-07-17 10:42] #603 closed

[2021-07-17 18:59] Marius1311 commented on #603
Amazing, thanks everyone.

[2021-07-18 09:51] WeilerP opened #668 "Embedding projection for non-knn based kernels"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [x] Other?

## Description

#665 fixes the embedding projection for knn based kernels. However, the fix restricts the method to only these kernels. As al

[2021-07-18 09:56] WeilerP opened #669 "Number of neighbors considered in PseudoTimeKernel"
## Description

This issue picks up the discussion from #603 on whether or not to used symmetrized number of neighbors in `PseudoTimeKernel`. ATM, the `PseudoTimeKernel` only considers the unsymmetrized number of neighbors instead of the observation-specific symmetrized one as in `ConnectivityKernel`. As I understood, this is due to trying to mimic the behavior of `Palantir` as much as possible. O

[2021-07-19 07:58] WeilerP commented on #628
@michalk8, I reinstalled the developer installation in a fresh charliecloud container and ran into an issue when running the unit tests the first time. I first installed all the necessary packages in a clean conda environment, i.e.

[code]

and then ran

[code]

which threw an error caused by petsc/slepc.

<details>
<summary> Log file </summary>

[code]
</details>

Running the tests again via

[co

[2021-07-19 10:59] michalk8 commented on #628
Based on the log, this seems to be a problem:
[code]
Maybe `sudo apt-get install python3-distutils` will help? Tbh, not sure why is it trying to look-up `python2` (esp. in `/usr/bin`).
Re the warning: this is because `pytest` is also globally installed (via `[test]` external requirements). Can be fixed via `python -m pytest ...` in `tox.ini`.

[2021-07-19 12:23] michalk8 commented on #628
Also, could you please post the Dockerfile you're using on MM? I want to take a look to see if all dependencies are there.

[2021-07-20 06:35] Marius1311 commented on #668
Thanks for opening this issue! We may make some progress here using the optimization approach Ruslan suggested.

[2021-07-20 06:50] WeilerP commented on #668
Yes! I opened the issue before I read the email. Will look into it.

[2021-07-20 12:53] michalk8 commented on #668
Doesn't the suggested optimization approach solve only the problem of: `P_{i, j} uniform => proj_vec = (0, 0)` and not the non-KNN based projection (i.e. WOT case), or am I missing something?
Also, 1 idea I had to achieve `(0, 0)` projection if uniform is to scale the vector by `scale = 1 - (entropy(probs, base=2) / np.log2(len(probs)))`.

[2021-07-20 21:27] michalk8 commented on #628
The warning should be fixed by 395bdcc, going to try devel install on the server now.

[2021-07-20 21:58] michalk8 commented on #628
@WeilerP can't reproduce the error using my container, running `dpkg --list | grep python3-distutis` shows that I have it installed.

[2021-07-21 05:57] Marius1311 commented on #668
In your last comment, @michalk8, you mean achieving this for non-KNN based graphs? Because we know how to do it for KNN- based graphs, our current implementation takes care of that already. You can check that for 0-velocity vector, the current implementation will give a zero vector in the embedding.

[2021-07-21 06:36] CromitDolores0808 opened #670 "Unable to plot fate map"
The terminal states and initial states work perfectly. But here is another error below. Thanks.

[code]

#### Versions:

[2021-07-21 08:27] EmilyMiddendorp commented on #618
Hi!

I have tried a couple of more things to install cell rank, but it seems that the issue is with llvmlite not being available for M1 silicone. I have tried installing it again and it seemed to work after installing brew install llvm@9. After that conda install llvmlite run without problem. However, installing CellRank with Conda gives me a compatibility error and with pip gives the same error a

[2021-07-21 11:00] michalk8 commented on #670
Hi @CromitDolores0808 ,
it seems like that there's no key in `adata.obsm['to_terminal_states']`, i.e. they haven't been computed using `cr.tl.lineages(adata, backward=False, ...)`.
Maybe you're trying to plot the initial states? if that's the case, `cr.pl.cluster_fates(adata, backward=True, mode="bar",save='NEU_bar.png')`, should do the trick. If not, could you please post the output of `print(ada

[2021-07-21 12:07] michalk8 commented on #667
Based on #670 , I think this can be closed, feel free to reopen if needed.

[2021-07-21 12:07] #667 closed

[2021-07-21 12:17] michalk8 commented on #662
I believe this question has been answered by Marius, feel free to reopen if anything else arises.

[2021-07-21 12:17] #662 closed

[2021-07-24 16:11] Marius1311 commented on #618
Any idea @michalk8 ?

[2021-07-26 13:32] EmilyMiddendorp commented on #618
Hi Marius,

I also tried installing CellRank in a Linux server that we have (with python 3.9 as well). I got the same llvmlite error and all the same problems. But it was easily solved by uninstalling llvmlite and installing CellRank with Conda so I think that the problem is that there is no compatible version for the Conda installation with M1 silicon. Could that be the reason?

[2021-07-26 20:19] michalk8 commented on #618
Hi @EmilyMiddendorp ,
based on [this](https://github.com/numba/numba/issues/7071), `numba` should be available through `pip` M1 in 6-12 months, however, it should be available through conda. I'd try this:
1. create a fresh conda env
2. install numba first as `conda install -c numba numba` (might also try `conda install -c conda-forge numba` if the former doesn't work)
3. clone cellrank as `git clo

[2021-07-26 20:20] michalk8 commented on #670
I'm assuming this has been resolved, feel free to open if not.

[2021-07-26 20:20] #670 closed

[2021-07-26 21:28] EmilyMiddendorp commented on #618
YES!! The first solution worked out!! Thank you so much!

[2021-07-26 22:47] michalk8 commented on #618
Glad that if finally works. I think this can be closed now - if any other problems arise, simply open an issue.

[2021-07-26 22:47] #618 closed

[2021-07-27 07:48] Marius1311 commented on #618
Thanks a lot @michalk8 for digging into this! Really great work.

[2021-07-28 07:49] EmilyMiddendorp commented on #618
Thank you both for all the help!

[2021-07-29 05:42] WeilerP opened #671 "Start indices not used in WOTKernel.plot_random_walks"
## Description

Running

[code]

prompts the warning

even though the start indices have been specified.

#### Versions:

[2021-07-29 11:23] michalk8 commented on #671
@WeilerP this seems to be a problem with `scv.pl.velocity_embedding_stream` which converts the categorical dtype from `float` to `object` (string), checked this just now. I'd suggest transfering this issue over to `scVelo`, since I think it should be fixed there (otherwise, don't think there's a clean solution for a kernel which subclasses `ExperimentalTimeKernel` here).

[2021-07-29 11:27] WeilerP commented on #671
Yes, I though so much. Didn't have the time to check it in detail, so thanks for taking it up! I also agree on transferring it to scVelo and checking if the conversion is really necessary.

[2021-08-03 19:26] WeilerP opened #672 "Ignore vscode related files"
## Description

Update `.gitignore` to no longer track vscode related directories.

[2021-08-04 10:09] michalk8 commented on #672
closed via #673

[2021-08-04 10:09] #672 closed

[2021-08-04 10:09] michalk8 commented on #671
@WeilerP could you please transfer this? I don't have the permissions (need ones in `scVelo`).

[2021-08-05 05:15] WeilerP opened #674 "Outline branching structure in `CONTRIBUTING.rst`"
## Description

Using the `master`-`dev` approach, we need to ensure using a consistent branching structure.

### In a nutshell

* Prior to a release, a release branch `release/X.X.X` should be branched which then merged into `cellrank@master`, `cellrank@dev`.
* For hotfixes, a branch `hotfix/X.X.X` is created based off of `cellrank/master` and merged into both `cellrank@master`, `cellrank@dev`.
*

[2021-08-05 05:21] WeilerP opened #675 "Update testing in CI"
## Description

We should use `tox` to run the unit tests in the CI.

[2021-08-05 05:24] WeilerP opened #676 "Update deployment in CI"
## Description

Using release branches, the CI should be updated to

* [ ] run on pushes and PRs on branches `release/*`, `hotfix/*`
* [ ] tags set automatically set to `X.X.X` after merging `release/X.X.X` into `cellrank@master`

This is related to #674.

[2021-08-05 05:27] WeilerP opened #677 "Deprecate high level API"
## Description

The high level API is not flexible enough and fails in most cases. It should be deprecated and eventually dropped in `cellrank==2.0`. Instead, the user should use the kernel-estimator pipeline directly.

[2021-08-05 05:29] WeilerP opened #678 "Deprecate `cellrank/tl`"
## Description

Following #677, we should deprecate `cellrank/tl` and switch to `cellrank/kernels` and `cellrank/estimators` instead. This is more intuitive with the suggested workflow and less nested.

[2021-08-05 05:32] WeilerP opened #679 "`thresholding_scheme` missing in list of parameters"
## Description

The docstrings for `PseudotimeKernel.compute_transition_matrix` do not include and describe `thresholding_scheme` in the list of parameters.

#### Versions:

[2021-08-05 05:40] WeilerP opened #680 "Make `start_ixs` more flexible in `plot_random_walks`"
## Description

The kernel method `plot_random_walks` accepts the argument `start_ixs` to set starting cells for the random walks. This only works on categorical columns, however. When working with pseudo-times, you do not have categories. Instead, the cells with a pseudo-time below a certain threshold are considered to be starting cells. It'd be good if `plot_random_walks` could handle such cases

[2021-08-05 05:43] WeilerP opened #681 "Refactor code to fix `FutureWarning` from `anndata`"
## Description

During testing, `anndata` throws the following `FutureWarning` in `tests/test_kernel.py`

[code]

See, for example, the testing stack trace in [this](https://github.com/theislab/cellrank/runs/3118375279?check_suite_focus=true) CI run.

[2021-08-05 05:44] WeilerP opened #682 "Deprecation warning in `cellrank/tl/_colors.py`"
## Description

In `cellrank/tl/_colors.py:255`, the following `VisibleDeprecationWarning` is thrown:

[code]

See, for example, the testing stack trace in [this](https://github.com/theislab/cellrank/runs/3118375279?check_suite_focus=true) CI run.

[2021-08-05 05:48] WeilerP opened #683 "Possible performance boost in `cellrank/tl/kernels/_velocity_schemes`"
## Description

In `cellrank/tl/kernels/_velocity_schemes:117`, `cellrank/tl/kernels/_velocity_schemes:131` and `cellrank/tl/kernels/_velocity_schemes:137`, `numba` throws a `NumbaPerformanceWarning`:

[code]

See, for example, the testing stack trace of [this](https://github.com/theislab/cellrank/runs/3118375279?check_suite_focus=true) CI run.

[2021-08-05 05:50] WeilerP opened #684 "Speed up testing in CI"
## Description

This is a rather generic issue with the goal to speed up the testing step in the CI.

[2021-08-05 05:54] WeilerP commented on #684
@michalk8, I checked again and the runtime of the CI: (ubuntu-latest, 3.7) and (mac-os, 3.8) take roughly 15 minutes, (ubuntu-latest, 3.8) takes over half an hour. Is the reason for this that we download and check the datasets in the latter case? If so, wouldn't it suffice to only check this when we change one of the functions downloading the datasets, on the cron job and before a new release (in

[2021-08-05 05:55] WeilerP commented on #684
Also possibly related is this `RuntimeWarning` by `matplotlib` in `tests/test_plotting.py::TestGeneTrend::test_transpose_all_models_for_1_lineage_failed_same_plot`:

[code]

[2021-08-05 05:58] WeilerP commented on #684
We should also check if using a `lil_matrix` in `tests/test_utils.py` speeds things up:

[code]

[2021-08-05 05:59] WeilerP opened #685 "Drop Python 3.6 support"
## Description

With Python 3.6 being rather old, we can stop supporting it.

[2021-08-05 06:17] WeilerP opened #686 "Threshold WOT transition matrix"
## Description

The WOT transition matrix is only block sparse slowing things down e.g. the Schur decomposition in GPCCA. It seems that many transition probabilities are pretty small s.t. we could optionally set all probabilities below a certain threshold to zero.

[2021-08-05 06:39] WeilerP opened #687 "Increase test coverage"
## Description

The unit tests currently cover about 88% of the code base. While this is already quite a bit, we should increase it even further. From skimming the coverage report, I'd say we need to add unit tests for functions/code parts in `cellrank/tl/_cflare.py`, `cellrank/tl/_utils.py`, `cellrank/ul/models/_utils.py`, `cellrank/pl/_circular_projection.py`.

[2021-08-05 07:38] WeilerP opened #688 "Latest release notes in docs"
## Description

ATM, the latest release notes are not listed in the section *Release Notes* on the ReadTheDocs page but only on the landing page. This is a bit counter intuitive. The detailed change log which is currently only on the landing page should be visible in the *Release Notes* section as well.

[2021-08-05 07:40] WeilerP commented on #688
@Marius1311, I think it'd suffice to show a less detailed change log on the landing page to showcase the highlights of the release in some bullet points. Seems a bit cleaner and clearer to me. We can always link to the release notes section for more details. What do you think?

[2021-08-05 07:47] WeilerP opened #689 "Update feature request issue template"
## Description

The tick boxes in the current issue template are shown as not yet completed tasks in GitHub. This can be confusing as it suggests there is some unfinished work. We can remove the list and add labels instead. This has the additional advantage of easily finding issues by setting a filter on the labels.

[2021-08-05 09:41] michalk8 commented on #688
Re release notes: currently, I have no preference, though the idea was to have the latest one always on the landing page since they are the most relevant.
Also, I hate writing them, we should look into e.g. https://github.com/twisted/towncrier

[2021-08-05 09:47] michalk8 commented on #684
Nope, it's the PETSc/SLEPc installation in that case (takes 14 minutes, testing takes 12 minutes).
In `pygppca`, I cache the `.tox` dir [here](https://github.com/msmdev/pyGPCCA/blob/main/.github/workflows/ci.yml#L123), so we should do this here once `tox` is used for CI as well.
Afaik I've tried to make PETSc/SLEPc work on Mac as well with the cache, but because of 1 extra step (manually building

[2021-08-05 09:48] michalk8 commented on #685
Mostly related to 2 things:
- pickling an `estimator`
- usage of `Literal` from `typing_extensions`

[2021-08-05 14:17] Zethson commented on #688
Or you use https://github.com/release-drafter/release-drafter

If interested ping me for a config.

[2021-08-05 14:42] WeilerP commented on #688
Agreed, just think that they do not need to go into such detail on the landing page. To make things easier and speed up writing the release notes we can always add some kind of label to PRs we want to mention in the release notes. This should also be compatible with @Zethson's suggestion.

[2021-08-05 15:10] Marius1311 commented on #669
For this, we discussed a benchmarking strategy in our last meeting based on predicting fate outcome for lineage-traced data.

[2021-08-05 16:11] michalk8 commented on #682
@Marius1311 could you take care of this? afaik you're most familiar with the `_map_names_and_colors` function.

[2021-08-05 16:21] michalk8 commented on #688
Thanks for the suggestion, will take a look. Quick question: can it also output `.rst` files - was thinking of embedding them in the docs.

[2021-08-05 16:22] Zethson commented on #688
Not that I am aware of, but would be interesting.

[2021-08-05 17:30] Marius1311 commented on #674
Agreed, let's stick to this.

[2021-08-05 17:33] Marius1311 commented on #680
We could use either a range or a percentile, what do you guys think?

[2021-08-05 17:34] Marius1311 commented on #686
We should check (and quantify) in one application how much results are affected by this. I.e compare the spectrum and the macrostates.

[2021-08-05 17:37] WeilerP commented on #680
Why not both? We could do `range` (temporally speaking), `precentile` and number of cells assigned the lowest pseudo-time (`n_early_cells`?). By default, the arguments would be `None` and only one can be set.

[2021-08-05 17:41] Marius1311 commented on #682
Sure, I can do this.

[2021-08-05 17:47] Marius1311 commented on #680
I wouldn't over-complicate and go for max. 2 options.

[2021-08-06 10:36] michalk8 commented on #679
closed via #691

[2021-08-06 10:36] #679 closed

[2021-08-06 10:36] michalk8 commented on #680
closed via #691 (I've settled for range instead of percentile)

[2021-08-06 10:36] #680 closed

[2021-08-06 11:34] michalk8 commented on #683
My quick test setup:
[code]
and I have added [here](https://github.com/theislab/cellrank/blob/master/cellrank/tl/kernels/_velocity_schemes.py#L103) `W = np.ascontiguousarray(W)`.
Without adding it, I've observed `(0.00344862699508667, 3.6004474065407516e-07)`.
With adding it, it was `(0.0036414241790771484, 5.000997375645965e-08)`.
However, I've observed the opposite happening (that requiring C-co

[2021-08-06 13:45] michalk8 commented on #681
closed via #692

[2021-08-06 13:45] #681 closed

[2021-08-06 19:09] michalk8 commented on #685
closed via #693

[2021-08-06 19:09] #685 closed

[2021-08-06 19:42] michalk8 commented on #674
Will give you my thoughts on this during next week, but overall looks good to me.

[2021-08-06 19:53] adamgayoso opened #694 "Binder Kernel died either on or just before `velocity_graph` of basic tutorial"
Hello,

I tried running the cellrank tutorial via binder and the kernel died. I also had some trouble getting the tutorial started (had to close after a few minutes as environment wasn't built properly and refreshing worked). Is colab a better solution for these tutorials?

<img width="1164" alt="Screen Shot 2021-08-06 at 12 51 55 PM" src="https://user-images.githubusercontent.com/10859440/1285642

[2021-08-06 20:54] michalk8 commented on #694
Hi @adamgayoso ,
looks like you've gotten a rather small-ish machine (only 2GBs) - I got lucky (8GBs) and it worked, see the screenshot below:
![binder](https://user-images.githubusercontent.com/46717574/128569538-cf03c8fb-9eaa-4bdf-b83b-0912ff96f275.png)

As for environment taking too much time, I wasn't aware of this issue (atm, there's only 1 requirement that could be removed, since it's only n

[2021-08-07 23:03] michalk8 commented on #686
@WeilerP could you please finish this be looking at what Marius suggested? I've added the implementation in #696.
Also, when all 0 row happens because of thresholding, the values are set to uniform, i.e.
[code]
Think another alternative is to set these all 0 indices to be self-transition, but imho this seems more "natural"

[2021-08-09 08:12] Marius1311 commented on #694
I personally think collab would be better, I've encountered similar issues to @adamgayoso using binder to load our tutorials.

[2021-08-09 08:15] Marius1311 commented on #686
Do you re-normalize after thresholding?

[2021-08-09 10:37] michalk8 commented on #688
closed via #690

[2021-08-09 10:37] #688 closed

[2021-08-09 10:37] michalk8 commented on #689
closed via #690

[2021-08-09 10:37] #689 closed

[2021-08-09 11:36] michalk8 commented on #683
I think this can be closed - it's fine to keep those warnings in (it's just a few). Feel free to re-open if anyone thinks otherwise.

[2021-08-09 11:36] #683 closed

[2021-08-09 11:37] michalk8 commented on #675
Also, the `ci-skip` action no longer seems to be necessary, see [here](https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/) - we should get rid of it.

[2021-08-09 12:18] Marius1311 commented on #685
Update installation instructions (still says 3.6 is okay)

[2021-08-09 12:18] Marius1311 commented on #685
At least on master, not sure whether you updated here. Just as a reminder.

[2021-08-09 13:11] michalk8 commented on #684
Running the tests locally as ``pytest --durations=0``, I got:
[code]

[2021-08-09 16:17] adamgayoso opened #702 "Passing `weight_connectivities=0` to `tl.transition_matrix` reverts to default?"
Shouldn't the printed kernel be 100% `VelocityKernel` in this case?

[code]

Version: '1.3.1'

[2021-08-09 16:25] michalk8 commented on #702
Yes, and it does, you have a small typo there `weight_connectivites -> weight_connectivities`.
Also, I'd recommend using the "lower" level API (this will be removed in `2.0`) + upgrading to `1.4`.

[2021-08-09 16:25] #702 closed

[2021-08-09 19:10] adamgayoso commented on #702
Shouldn't passing an argument with a typo in the param name raise some kind of error?

[2021-08-09 19:10] adamgayoso commented on #694
Colab is nice, a little uglier than Binder, but always works... unless you have R things you need to demonstrate.

[2021-08-09 19:12] adamgayoso opened #703 "No release notes for 1.4"
I can't seem to find the release notes for v1.4 on the docs page.

https://cellrank.readthedocs.io/en/stable/release_notes.html

[2021-08-09 19:13] adamgayoso commented on #703
Actually it's on the latest version (not default):

https://cellrank.readthedocs.io/en/latest/release/notes-1.4.0.html

[2021-08-09 21:38] michalk8 commented on #703
Yes, previously (by design), they were only shown on the index page [here](https://cellrank.readthedocs.io/en/stable/#latest-additions).
Will hijack this issue to figure out how to use `towncrier` to have even the smallest news fragments rendered in the docs.

[2021-08-09 22:08] michalk8 commented on #674
Just for reference, here's the link: https://nvie.com/posts/a-successful-git-branching-model/
I think that the hotfix stuff might be a bit too complicated for our repo, but am willing to give it a try.

[2021-08-10 07:27] WeilerP commented on #674
Yes, exactly what I had envisioned!

[2021-08-10 10:12] Marius1311 commented on #702
That's a good point. @michalk8, is that related to using the high level API?

[2021-08-10 10:12] Marius1311 commented on #702
In any case, we should raise an exception in such a case, it leads to unexpected behaviour.

[2021-08-10 10:18] Marius1311 commented on #703
@adamgayoso, we're in the process of switching to `towncrier` to automaticaly render our release notes from the set of PRs associated with a particular release. @michalk8 is taking care of that.

[2021-08-11 13:37] WeilerP commented on #686
Yes, the transition matrix is renormalized.

I tested @michalk8's implementation on the Schiebinger reprogramming data.

## In a nutshell

* Thresholding speeds up computation significantly.
* Absorption probabilities stay almost the same.
* The random walk plots do not change significantly
* The stream plots change slightly (I added the connectivity matrix manually). Since we are unsure about the

[2021-08-12 09:04] michalk8 commented on #682
closed via #704

[2021-08-12 09:04] #682 closed

[2021-08-12 09:53] michalk8 commented on #694
Does collab always require you to log-in into a Google account? I've tried running one notebook from `scvi-tools` and it always prompts me to log-in. If yes, unfortunately, this is a dealbraker for me.

[2021-08-12 10:14] Marius1311 commented on #686
Looks good from my point of view. Two things come to mind:
- per threshold, on average (media), how many cells have non-zero transition probability from the reference?
- to compare quantitatively, take a subset (time-point/cluster) and print average fate probs towards terminal states
- correlate fate probs across thresholds
- thresholding based on percentile? (which percentiles do your threshold c

[2021-08-12 13:26] michalk8 opened #706 "Docs overhaul"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [ ] Other?

With the deprecations of #677 and #688, we should make sure to update the docs accordingly (possibly also the tutorials).

[2021-08-12 13:28] michalk8 commented on #678
closed via #695

[2021-08-12 13:28] #678 closed

[2021-08-12 14:03] #684 closed

[2021-08-12 14:06] adamgayoso commented on #694
Indeed it does. Is your concern privacy? For what it’s worth, many many
universities here use google to power email, etc.

On Thu, Aug 12, 2021 at 2:54 AM michalk8 ***@***.***> wrote:

[2021-08-12 15:24] adamgayoso commented on #694
At the very least, a compromise is to offer badges for both services?

[2021-08-12 18:46] michalk8 commented on #694
You're right, as long as there's an option to choose from, I think it's fine.

[2021-08-12 20:19] #694 closed

[2021-08-12 20:21] michalk8 commented on #694
There were some issues (see #707), but otherwise, the colab should be enabled on the `latest` (once the docs are up).

[2021-08-13 10:36] michalk8 commented on #686
Was wondering, whether percentile thresholding isn't more convenient then just fixed number - might be better to specify e.g. we want to zero-out lowest 5% of the values.
If yes, I will make the changes, otherwise the PR is ready to be merged (once the effect has been quantified and looks good).

[2021-08-13 15:40] michalk8 commented on #703
closed via #708 - #712 (seems to finally work).

[2021-08-13 15:40] #703 closed

[2021-08-13 18:48] michalk8 commented on #675
closed via #713

[2021-08-13 18:48] #675 closed

[2021-08-15 05:53] Marius1311 commented on #706
Good initiative!

[2021-08-15 06:03] Marius1311 commented on #686
Hi @michalk8, I was also thinking about this. Let's wait for @WeilerP, we talked about this and he'll look into it.

[2021-08-15 06:07] Marius1311 commented on #702
Any update here @michalk8 ?

[2021-08-15 06:07] Marius1311 commented on #564
Hi @michalk8, what's a realistic timeline for this?

[2021-08-15 06:09] Marius1311 commented on #581
@michalk8, let's either close this (can add to release schedule if important) or add to 1.5, I leave this to you.

[2021-08-15 06:10] Marius1311 commented on #620
Hi @michalk8, let's talk again about this later this week. Please switch to the Schiebinger data for this.

[2021-08-15 06:11] Marius1311 commented on #628
@WeilerP, can you share your container with @michalk8 so he can reproduce this? Or what's our solution for this?

[2021-08-15 06:12] Marius1311 commented on #663
This will go into a later release. @WeilerP, can you add this to the release schedule for a later release?

[2021-08-15 06:13] Marius1311 commented on #668
@WeilerP, if I remember correctly, we wanted to look at this for at least 1 other non-KNN based projection before making a decision on this.

[2021-08-15 06:13] Marius1311 commented on #676
How far are we on this one?

[2021-08-15 14:03] michalk8 commented on #564
Next week.

[2021-08-15 14:07] michalk8 commented on #581
I have context manager implemented in `squidpy` which switches between gene symbols stored elsewhere in `adata.var`, so I think I can just rehash that (as long as it's fine I make the gene symbols unique if they are not unique, otherwise, the implementatin is a bit problematic [we store the fitted models in a dict of dics, `<lineage>: <gene>: ...`]).

[2021-08-16 06:12] WeilerP commented on #628
Sorry, forgot to answer. `python3-distutils` is installed. Is it a problem that I am using Python 3.8 but `python3-distutils` is Python 3.7.3? Or should I check that it is installed in a new container?

Yes, can share the container but not sure if it is worth the effort. What do you think @michalk8?
I can run the tests it just doesn't work out of the box for me. I just gotta run `tox -e py38-linux

[2021-08-16 11:53] Marius1311 commented on #581
That sounds like a good solution, let's go for that.

[2021-08-16 14:40] michalk8 commented on #628
That might be a problem, so I'd check.

I'd say not worth the effort - ideally, I'd like to close this soon.

[2021-08-17 07:08] dsb66 opened #714 "incorrect visualization of initial states"
Cellrank incorrectly visualizes the location of cells in the 'initial states' calculation. I have attached an example of the location of two clusters identified as initial states by cellrank. At left is a standard visualization of the individual clusters using the DimPlot function in Seurat. At right is the visualization of the same clusters by cellrank.  There are only 69 damage-associated 1 cell

[2021-08-17 09:13] WeilerP commented on #628
@michalk8, everything seems to work after upgrading `python3-distutils` to `3.7.3`.

[2021-08-17 09:13] #628 closed

[2021-08-17 12:39] WeilerP opened #715 "Edit on GitHub button not working for kernels and estimators"
The _Edit on GitHub_ button doesn't seem to work on the docs for kernels and estimators (e.g. [here](https://cellrank.readthedocs.io/en/stable/api/cellrank.tl.kernels.VelocityKernel.html) or [here](https://cellrank.readthedocs.io/en/stable/api/cellrank.tl.estimators.GPCCA.html)).

#### Versions:

[2021-08-17 12:41] WeilerP opened #716 "Edit on GitHub button on latest docs"
## Description

The latest docs do not show the _Edit on GitHub_ button. @michalk8, is this intentional or can the button be shown as well to easily move to the corresponding code on `cellrank@dev`?

[2021-08-17 12:45] michalk8 commented on #716
I've intentionally removed removed it since fixing it isn't worth the effort (the `[source]` button achieves the same and is reliable).
Unless you want to reintroduce it, I'd close this.

[2021-08-17 13:25] WeilerP opened #717 "Numpy dtypes are deprecated"
## Description

As of `numpy==1.20.0`, Numpy data type have been deprecated. See e.g. [here](https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations). For example, `np.bool` should be replaced by `bool`.

[2021-08-17 14:45] Marius1311 commented on #714
Hi @dsb66, thanks for using CellRank. There is no bug here, this relates to how we define and label initial states. There are two separate things here:
- clusters, defined though whatever clustering algorithm (e.g. louvain)
- initial states, computes in CellRank

Let's look into the latter a bit more.

## Definition of macrostates
Initial states, in CellRank, are certain macrostates which fulfill

[2021-08-17 17:39] WeilerP commented on #716
Yes, happy to close this one but think everything should work in the case of #715. We can continue discussing it there.

[2021-08-17 17:39] #716 closed

[2021-08-17 21:10] michalk8 commented on #717
closed via #718

[2021-08-17 21:10] #717 closed

[2021-08-18 01:47] dsb66 commented on #714
Thank you for the explanation, it makes very much sense. I have also started playing with the low level interface as you suggested and I appreciated the more granular control (and understanding) of the process.

I still have a question about the labeling of the states. I produced the attached terminal states map with this code:

    g.compute_macrostates(n_cells=50, cluster_key=anno)
    g.plot_ma

[2021-08-18 08:01] Marius1311 commented on #714
@michalk8, any idea what could have happened here? I'm not sure this is actually a bug, we need to figure out what's going on.

[2021-08-18 12:34] WeilerP commented on #686
To check the number of non-zero elements, the percentiles and the correlation between the absorption probabilities, I ran the WOT pipeline on the Schiebinger reprogramming data using `[0. , 0.001, 0.002, 0.003, 0.004, 0.005, 0.006, 0.007, 0.008, 0.009, 0.01 ]` as different thresholds.

## Non-zero entries and percentile

The left plot displays the decrease in average non-zero transition probabilit

[2021-08-18 12:50] michalk8 commented on #686
Wouldn't symmetrizing mean that we allow connections to past cells?

In principle, we could introduce `threshold = 'auto'` so that no such row appears. In any case, I'd always go for a percentile, since for specifying `#nnz` you'd have to have intuition/estimate of how many of them are there initially.

[2021-08-18 14:09] WeilerP commented on #686
Sorry, forget I ever said anything. I meant symmetrizing within a time point, i.e. each block on the diagonal. But it doesn't make any sense. A kNN graph doesn't contain nay directionality but the transition matrix does.

Hm, specifying the number of non-zero transition probabilities would be fine, I think. I thought the user would only provide "reasonable" number, e.g. `30` or so, i.e. much small

[2021-08-19 12:51] WeilerP opened #721 "`WOTKernel.compute_transition_matrix` does not fail with random argument"
## Description

Passing a random argument to `WOTKernel.compute_transition_matrix` does not throw an error. In this case, the `TypeError`

[code]

should be thrown, IMO.

### Code snippet

[code]

### Versions

This is happening both for `cellrank==1.4.0` and on `cellrank@dev`.

[2021-08-19 13:12] michalk8 commented on #721
IWe can pass `kwargs` to the OT configuration - it is unfortunately beyond my control whether they silently throw invalid ones away or not. The best we can do is to look if the keys are present in [here](https://github.com/broadinstitute/wot/blob/master/wot/ot/ot_model.py#L85) and if not, raise `TypeError`, but it really shouldn't be our problem to deal with.

[2021-08-19 13:25] WeilerP commented on #721
Okay, I can open an issue on the WOT repo.

[2021-08-19 13:39] WeilerP opened #722 "WOTKernel changes time key to categorical"
## Description

When instantiating the `WOTKernel`, the data type of the time key column in `adata.obs` is transformed into categorical. Is this necessary? Or is this done automatically by `wot`? If the data type was originally `float`, for example, all scatter plots before the instantiation can be colored nicely using e.g. the viridis colormap. After instantiation, each category is assigned a ran

[2021-08-19 14:08] michalk8 commented on #722
Afaik no, WOT doesn't require it, it's our requirement in `ExpTimeKernel`, since it really should be categorical (if it already isn't) + makes some operations easier.
As far as the colors go, we can update it [here](https://github.com/theislab/cellrank/blob/master/cellrank/tl/kernels/_exp_time_kernel.py#L64), though personally, I'd use `gnuplot` as the colormap there).

[2021-08-19 14:50] WeilerP commented on #722
The problem is the following: I ran WOT on the Erythroid branch of the mouse gastrulation data from [Pijuan-Sala *et al.*](https://www.nature.com/articles/s41586-019-0933-9), for example. Prior to instantiating the `WOTKernel`, the UMAP embedding looks as follows, i.e. you can nicely see the temporal evolution:

<img width="405" alt="pre_wot" src="https://user-images.githubusercontent.com/28675704

[2021-08-19 18:35] michalk8 commented on #714
@dsb66 can you please post the output of the following?
[code]
My suspicion is that we for some reason map the names incorrectly (or a problem with the `Lineage` class),
but wanna rule any plotting issues first.

[2021-08-19 18:42] michalk8 commented on #722
closed via 14c8db0 (sorry I didn't make a PR, forgot and was lazy to fix it).

[2021-08-19 18:42] #722 closed

[2021-08-19 18:42] michalk8 commented on #715
Can we also close this? From my side, there are not plans of reintroducing this and/or fixing it on current master (pointless with a new release behind the corner).

[2021-08-19 18:52] michalk8 commented on #721
I'd say either we fix it ourselves (easier). leave it be (easiest) or open an issue as you've suggested (will take time to fix, I think) - I leave the decision up to you @WeilerP .

[2021-08-20 12:14] WeilerP commented on #715
But shouldn't we fix it in the new release? Or do you think it is pointless since it's being deprecated and removed in the near future (removed in the sense of `tl/kerenels` replaced by `kernels/`)?

[2021-08-20 12:42] michalk8 commented on #715
This doesn't affect only `kernels` and `estimators`, but all auto-generated `.rst` files (try [here](https://cellrank.readthedocs.io/en/stable/api/cellrank.pl.cluster_fates.html#cellrank.pl.cluster_fates)) - that's why there's the `[source]` button instead (should've removed this earlier).

[2021-08-20 13:24] WeilerP commented on #715
Ah, so what you are saying is that with the new release, the *Edit on GitHub* button will disappear all together and we will only have the *source* button? Then yes, let's close this!

[2021-08-20 15:05] #715 closed

[2021-08-21 21:09] michalk8 commented on #581
closed via #726 (parameter name is `gene_symbols`)

[2021-08-21 21:09] #581 closed

[2021-08-24 01:26] dsb66 commented on #714
Sorry for the slow reply. I have attached two files, they are from a different dataset but they show the same problem.

The file 'scvelo_CT_dynamical_umap_cell.type_2_PA.ex.macrostates.pdf' was generated by CellRank with the code in my previous post; it shows labels in swapped positions.

The file 'scvelo_scv.pl_CT_dynamical_umap_cell.type_2_PA.ex.png' was generated with the code:

scv.pl.scatter(

[2021-08-24 07:05] WeilerP commented on #668
@Marius1311, @michalk8, I think we can close is. We tried the `WOTKernel` on the the erythroid branch of the mouse gastrulation data by [Pijuan-Sala et al.](https://www.nature.com/articles/s41586-019-0933-9) where it did not work.
ATM, we check in `compute_projection` whether or not a connectivity matrix exists [here](https://github.com/theislab/cellrank/blob/889a6612ce30ca17011b9081d686ce6838faa2

[2021-08-24 07:13] WeilerP commented on #721
@michalk8, I'll open an issue on the WOT repo. Just to double check: The error should (or is expected to ) be thrown by `wot.ot.OTModel`, right?

[2021-08-25 09:44] MubasherMohammed commented on #714
Hi guys, @dsb66 @michalk8
i have the same issue in swapping the labels of the terminal states, i haven't manually annotate the clusters they are just inherited from louvain clustering.
![image](https://user-images.githubusercontent.com/50444056/130768104-c5967a49-f0b8-4fcb-a68c-b0bf7a2c61f8.png)
![image](https://user-images.githubusercontent.com/50444056/130768172-4754b418-4e7d-49ef-a64e-181eb9f94

[2021-08-25 10:20] michalk8 commented on #714
@MubasherMohammed @dsb66 seems like the wrong name has been assigned, but the color is right (or maybe just the color array in the `adata` is being somehow flipped). Could maybe one of you print the output of the following code?
[code]

[2021-08-25 10:52] MubasherMohammed commented on #714
Hi @michalk8 thanks for fast reply.
here the output of previous codes
`print(list(g.macrostates.cat.categories))
print(list(g._macrostates_colors))
print(list(g.macrostates_memberships.names))
print(list(g.macrostates_memberships.colors))
['0', '5']
['#8c564b', '#1f77b4']
['0', '5']
['#8c564b', '#1f77b4']
g.set_terminal_states_from_macrostates()
print(list(g.terminal_states.cat.categories))
print(

[2021-08-25 14:49] Marius1311 commented on #714
Hi @MubasherMohammed, if at all possible, could you somehow enable us to reproduce this by sharing an AnnData object and jupyter notebook? I understand if that's not possible due to confidentiality etc. just wondering. Feel free to email me at marius.lange@helmholtz-muenchen.de

[2021-08-30 10:22] Marius1311 commented on #714
@MubasherMohammed, is your issue also resolved on the dev branch?

[2021-08-30 10:47] WeilerP opened #728 "Update package requirements"
- [ ] Additional function parameters, change functionality or change defaults?
- [ ] New estimator in `cr.tl.estimators`?
- [ ] New kernel in `cr.tl.kernels`?
- [ ] New gene trend model in `cr.ul.models`?
- [ ] New plotting function in `cr.pl`?
- [x] Other?

With `scvelo==0.2.4` released, we can unpin the upper bound on `numba`. This applies both for the CellRank repo on GitHub and on bioconda.

[2021-08-30 10:52] WeilerP commented on #728
@michalk8, I opened #729. Do you want to take care of bioconda once `cellrank==1.5.0` is released?

[2021-08-30 14:24] michalk8 commented on #728
Sure, I will take care of it.
closed via #729

[2021-08-30 14:24] #728 closed

[2021-08-30 19:21] MubasherMohammed commented on #714
@Marius1311  Yes, it works with the dev branch. Thanks guys

[2021-08-31 15:11] Marius1311 commented on #714
@michalk8, it looks like we can close this!

[2021-08-31 17:05] michalk8 commented on #714
I don't know why it's been fixed though - can't remember any changes on `dev` that would lead to a fix, will keep this open until I get to investigate.

[2021-09-01 07:39] WeilerP opened #731 "Update bioconda"
## Description

- [ ] Update package requirements (e.g. `scvelo==0.2.4`, `numba>=0.51.0`)

[2021-09-01 07:41] WeilerP commented on #668
@michalk8, any thoughts on this? Or do you agree with @Marius1311 s.t. we can close the issue?

[2021-09-01 14:46] Marius1311 commented on #669
Benchmarking task (@michalk8):
- check in reprogramming data (morris) & hematopoiesis data (klein) how well we can predict ground truth fate choice, e.g. prediction task against lineage tracing labels.

[2021-09-01 17:47] michalk8 commented on #686
close via #696

[2021-09-01 18:10] GabrielBaldissera opened #732 "CellRank on hematopoiesis"
Hello!

Thank you for developing this nice tool!

I have tried to do velocity on my hematopoiesis data using scvelo but it turns out to be very noisy as discussed [here ](https://github.com/theislab/scvelo/discussions/430) with @VolkerBergen . I read your manuscript and thought that maybe the propagation of noise in velocity and the restriction of fates to the pseudotime graph would be helpful to

[2021-09-01 20:00] WeilerP opened #734 "Auto-generated release notes too long"
The auto-generated release notes for #696 include a line with more than 120 characters breaking the linting check in the CI.

#### Versions:

[2021-09-01 20:04] WeilerP commented on #734
@michalk8, any idea how to prevent this in the future? Also, maybe we should run the linting job in the CI when release notes are added by towncrier to prevent this kind of thing from happening in the future?

[2021-09-01 20:19] michalk8 commented on #734
There's `rstcheck` in place for both news fragment and new dev release notes, this is `doc8`'s "fault".
2 solutions:
1. in `docs/source/create_news_fragment.py`, when parsing the message, ensure it has a certain line length (like 80 max, just in case)
2. the easier solution: disable some `flake8` checks in the autogenerated stuff in `tox.ini`

Re linting: I didn't want to run full linter since a l

[2021-09-02 15:13] michalk8 commented on #734
closed via #735 (the spellcheck/linkcheck will addressed in a separate issue).

[2021-09-02 15:13] #734 closed

[2021-09-03 21:05] michalk8 commented on #669
@Marius1311 just to be sure, we want to have symmetric sparsity pattern by symmetrizing the biased connectivities, right?

[2021-09-07 07:50] Marius1311 commented on #732
Hi Gabriel! Thanks for using CellRank, and thanks for opening this interesting issue. Please see this recent perspective for known limitations of RNA velocity on hematopoiesis: https://www.embopress.org/doi/full/10.15252/msb.202110282

Until some of these challenges are addressed methodologically, I would be careful with quantitative interpretation of RNA velocity in a hematopoiesis setting (RNA v

[2021-09-07 08:30] Marius1311 commented on #669
Yes, symmetric sparsity pattern, the actual values will of course be non-symmetric.

In scanpy, when you run `sc.pp.neighbors`, the added `distances` attribute represents the raw, non-symmetrized distances, i.e. each cell will have *exactly* K neighbors. In contrast, the added `connectivities` attribute represents a transformed, symmetrized version of the distances. The transformation depends on t

[2021-09-07 08:32] Marius1311 commented on #669
This is very easy to do, you just consider the non-zero entries in `connectivities` as the neighbors, rather than the non-zero entries in `distances`.

[2021-09-07 08:43] lazappi commented on #667
I just ran into this error as well going through the tutorial. Can confirm that installing the dev version fixed it. It's probably not ideal that the tutorial doesn't work with the default installation though. If it's possible to do a patch release probably worth it so that new users don't have issues.

[2021-09-07 09:14] michalk8 commented on #669
So in essence [this](https://github.com/theislab/scanpy/blob/master/scanpy/neighbors/__init__.py#L887-L892), right?

[2021-09-07 09:36] Marius1311 commented on #667
@michalk8, don't we automatically test whether our tutorials run?
@lazappi, thanks for the feedback, we're about to release 1.5 (in the next two weeks) which should fix this.

[2021-09-07 09:42] michalk8 commented on #667
Yes, but only on `dev`, there's no reason to run the CI on `master` anymore since it's practically frozen (unless you want to check whether new dependencies work).

[2021-09-07 09:43] Marius1311 commented on #669
No, we don't need to symmetrize on our end, just use directly the indices from the connectivity matrix.

[2021-09-07 09:44] Marius1311 commented on #669
For method `gauss`, that should be it, yes. We don't need to worry about this on our end, as long as we use the indices provided in the connectivity matrix, we can assume they are symmetric. We can also check for this, we have a check in our utils.

[2021-09-07 09:45] Marius1311 commented on #667
Okay, got it, and this current problem here is due to dependencies, i.e. pandas, as you explained above.

[2021-09-08 10:36] michalk8 commented on #721
Do you want to keep this issue open?

[2021-09-08 12:01] WeilerP commented on #721
I'd say we have to fix it ourselves if we want it implemented. There doesn't seem to be much activity on the WOT repo. Haven't heard back since I opened the issue.

[2021-09-08 12:14] michalk8 commented on #668
closed via #733

[2021-09-08 12:14] #668 closed

[2021-09-08 12:59] michalk8 commented on #721
closed via #737

[2021-09-08 12:59] #721 closed

[2021-09-08 19:14] michalk8 commented on #669
@Marius1311 based on what we've discussed today:
Morris data result (pseudotime was taking from palantir, terminal states are from our revision and are fixed):
new (locally taking the `n_neighs`):
![local_res](https://user-images.githubusercontent.com/46717574/132568880-9642ea12-3a48-4e8f-8604-4a85c3de4335.png)
old (current approach):
![global_res](https://user-images.githubusercontent.com/4671757

[2021-09-09 10:09] Marius1311 commented on #669
Thanks Mike! Since taking the number of neighbors locally seems more naturally to me, I would vote for changing the current implementation to that.

[2021-09-09 12:34] michalk8 commented on #669
Shall we keep the current option or just get rid of it completely?

[2021-09-09 13:02] michalk8 commented on #669
Also, I remember having a discussion about this a long time ago, but I can't find the issue (maybe it's in one of the older repos)...

[2021-09-10 10:26] michalk8 commented on #669
Think it makes sense not to overwhelm the user (in any case, can reintroduce in a future PR).
closed via #738

[2021-09-10 10:26] #669 closed

[2021-09-10 10:47] michalk8 opened #739 "Update deployment CI"
Doesn't work due to some typos/bad logic.

[code]

[code]

#### Versions:

[2021-09-10 20:19] michalk8 commented on #739
closed via #740

[2021-09-10 20:19] #739 closed

[2021-09-10 20:47] michalk8 commented on #714
The only relevant change that might be relevant (although afaik, the results should be identical), is
[code]
in `cellrank/tl/_colors`, function `_map_names_and_colors`.
In any case, there are at least 3 functions (this, `_merge_categorical_series` and `_fuzzy_to_discrete` that should be refactored and simplified in order to prevent this from happening). @Marius1311 since you're the most familiar w

[2021-09-12 08:10] Marius1311 commented on #669
Agreed, let's get rid of the old option.

[2021-09-12 08:14] Marius1311 commented on #714
ok, please open a separate issue for this and I'll have a look.

[2021-09-12 14:13] Marius1311 commented on #732
@GabrielBaldissera, was this helpful?

[2021-09-12 18:02] michalk8 opened #741 "Fix `cellrank.pl.cluster_lineage` ncols"
Axes get reused, see [here](https://cellrank.readthedocs.io/en/stable/auto_examples/plotting/plot_cluster_lineage.html#sphx-glr-auto-examples-plotting-plot-cluster-lineage-py).

[2021-09-12 18:45] michalk8 commented on #564
closed via #727

[2021-09-12 18:45] #564 closed

[2021-09-12 19:24] michalk8 commented on #741
closed via #742

[2021-09-12 19:24] #741 closed

[2021-09-13 12:18] michalk8 opened #744 "Figure out why docs linting fails in CI"
See, e.g. [here](https://github.com/theislab/cellrank/runs/3585559201?check_suite_focus=true#step:8:16).

[2021-09-13 12:22] michalk8 opened #745 "Refactor old internal functions"
As discussed in https://github.com/theislab/cellrank/issues/714#issuecomment-917201143, we should refactor the following functions (some may be missing) to prevent bugs/increase maintainability:
- `_map_names_and_colors`
- `_merge_categorical_series`
- `_fuzzy_to_discrete`

[2021-09-13 12:24] michalk8 commented on #714
If this issue comes-up again, I will reopen this (will be fixed in #745).
closed via https://github.com/theislab/cellrank/commit/c8c2b9f6bd2448861fb414435aee7620ca5a0bad

[2021-09-13 12:24] #714 closed

[2021-09-13 13:46] Marius1311 commented on #564
This is hughe, thanks everyone!!! Esp. thanks to @michalk8 for this heroic effort!

[2021-09-13 20:20] GabrielBaldissera commented on #732
Hi @Marius1311 Thanks so much!

I read the perspective paper and I was thinking about it.

So, right now we think that our direction will be to get real experimental time-points. We have zebrafish samples 26h post fertilization WT and MT and we are considering getting some new time points for those before and after 26h. We hope this will help us seeing those trajectories more clearly, regardless o

[2021-09-13 21:19] michalk8 commented on #731
closed via https://github.com/bioconda/bioconda-recipes/pull/30509

[2021-09-13 21:19] #731 closed

[2021-09-13 22:54] zhenzuo2 opened #746 "f"Values {list(not_found)}, from {list(indexer)}, are not valid obs/ var names or indices.""
Hi Marius,

I got an error when running function wk.compute_initial_growth_rates(). I am not sure what caused it:

Here is what I run:

wk.compute_initial_growth_rates(organism="human", key_added="growth_rate_init")

And this is what I got

Computing `proliferation` scores
WARNING: genes are not in var_names and ignored: ['ANP32E', 'BIRC5', 'CASP8AP2', 'CBX5', 'CCNE2', 'CDC45', 'CDC6', 'CDCA3', 'C

[2021-09-14 00:31] michalk8 commented on #746
Hi @zhenzuo2 ,
I suspect your `adata.raw` is not `None`, correct? If yes, could you try running:
[code]
Problem might be in `scanpy.tl.score_genes`, `use_raw=None` by default and if `adata.raw` is present, it will be set to `True`. However, at [this point](https://github.com/theislab/scanpy/blob/9360422823fade22a625f3c7840bef132364027e/scanpy/tools/_score_genes.py#L102) it can still be `None` by d

[2021-09-14 02:12] zhenzuo2 commented on #746
Thank you! It works when I set `use_raw = False`. It caused

ValueError: No valid genes were passed for scoring.

`when use_raw = True.`

My anndata object was converted from Seurat so `adata.raw` is present.
I cheked `adata.raw.var_names` and it is
[code]
I think that is the problem.

Thank you!

[2021-09-14 05:00] zhenzuo2 commented on #656
When running
[code]
I got the following error message:

Computing transition matrix using Waddington optimal transport
WARNING: Unable to find HVGs in `adata.var['highly_variable']`. Using all genes
Using default cost matrices
Computing transport maps for `11` time pairs
0%
0/11 [00:00<?, ?time pair/s]
---------------------------------------------------------------------------
TypeError

[2021-09-14 10:41] michalk8 commented on #746
Glad this works, I've created a PR in `scanpy`. Think this can be closed, if not, feel free to re-open.

[2021-09-14 10:41] #746 closed

[2021-09-14 10:43] Marius1311 commented on #732
Yes, I do think getting more time-points would be good. To run CellRank on time-series data, you can then use the [real-time kernel](), which is a wrapper around Waddington OT (Schiebinger et al., Cell 2019). So make sure to read that regarding spacing of time points etc. In general, methods like Waddington OT, which are based on optimal transport, will work well if your time points are not spaced

[2021-09-15 05:34] zhenzuo2 opened #747 "pickle.load() failed for WK kernel"
When running
[code]
I got the following errors

---------------------------------------------------------------------------
[code]

However, I did not get any error when loading anndata object.
It will be very helpful if it can be loaded without recomputing it every time. Thank you.

[2021-09-15 12:59] michalk8 commented on #747
Thanks for spotting this, the issue was 1 `AnnData` view which can't be pickled, because we've also saved the `OTModel` from `wot` (wasn't necessary). Will be fixed in #748 and merged into `dev`; you can install it e.g. as:
[code]

[2021-09-15 13:48] michalk8 commented on #747
closed via #748

[2021-09-15 13:48] #747 closed

[2021-09-18 16:30] zhenzuo2 opened #749 "g.compute_macrostates() ValueError: Index of obs must match index of X"
g.compute_macrostates(n_states=7, cluster_key="seurat_clusters")

Computing `7` macrostates
/storage/singlecell/zz4/miniconda3/envs/mypython/lib/python3.8/site-packages/anndata/_core/anndata.py:120: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
/storage/singlecell/zz4/miniconda3/envs/mypython/lib/python3.8/site-pa

[2021-09-18 21:38] zhenzuo2 commented on #749
It only happens for some specific n_states, such as 7, but not for larger n_states, such as 20.

[2021-09-18 21:53] zhenzuo2 commented on #749
Fixed. 'Clusters' must be a string categorical variable instead of numeric ones.

[2021-09-19 09:36] michalk8 commented on #749
Thanks for spotting this, it occurs when we associate the names in `adata.obs['seurat_clusters']` with macrostate names.
Though I haven't been able to reproduce it with the code below, at least the final dtype should be all strings and be fixed in #750
[code]
More thorough look/refactoring will be done in #745

[2021-09-21 08:44] Marius1311 commented on #732
Closing this for now, feel free to re-open or continue in a [discussion](https://github.com/theislab/cellrank/discussions/new)

[2021-09-21 08:44] #732 closed

[2021-09-21 08:49] Marius1311 opened #751 "Import error in jupyter notebook, numpy version problem"
Installed CellRank from source (dev branch), importing in a jupyter notebook gives the error below. I wonder how this incompatibility comes about. Note: I installed `slepc4py` and `petsc4py` via `conda-forge` before.

I import cellrank via
[code]

I get the following traceback
[code]

#### Versions:

[2021-09-21 08:55] Marius1311 commented on #751
I fixed this locally by uninstalling numpy and re-installing it using `pip install "numpy<=1.20" `

[2021-09-21 08:56] Marius1311 commented on #751
I now have the following versions:
[code]

[2021-09-21 09:44] Marius1311 opened #752 "Link from our readthedocs to the github page"
At least on the landing page please.

[2021-09-21 14:41] Marius1311 commented on #751
any idea @michalk8 ?

[2021-09-21 14:44] michalk8 commented on #751
Seems like you've had too high version of `numpy`, which `numba` doesn't support yet.

[2021-09-21 14:49] michalk8 commented on #751
Because we don't (and shouldn't pin, imho) `numpy` from top, but seems like `numba` also doesn't.

[2021-09-21 20:32] michalk8 commented on #749
closed via #750

[2021-09-21 20:32] #749 closed

[2021-09-22 04:50] Marius1311 commented on #751
Okay, got it.

[2021-09-22 04:50] #751 closed

[2021-09-23 12:18] Marius1311 opened #753 "is there an option for `g_fwd.compute_lineage_drivers` to not return the dataframe?"
Used to work via `return_drivers=False`, but seems to no longer work .

[2021-09-23 13:18] michalk8 commented on #753
Yes, I've removed this and kept it returning because we also sort the values on return - the stored ones in `adata.varm` cannot be sorted (unless we sort the whole adata object).
This was done purely for consistency+convenience (i.e. see the correlated values immediately instead of accessing some field).

[2021-09-24 04:58] lijxug opened #754 "Ipython kernal dies when calculating Schur decomposition"
When running cellrank, specifically on the step 'g.compute_schur(n_components=20)' or when 'cr.tl.terminal_states' hits the step 'Computing Schur decomposition', my jupyter lab always warns me that the kernal have died and restarted.

I'd like to paste the error messages here but there is none in the notebook. Could you help me troubleshooting?

#### Versions:

cellrank==1.5.0 scanpy==1.8.1 anndat

[2021-09-24 09:21] michalk8 commented on #754
Do you install `petsc4py`/`slepc4py` as e.g. `pip install 'cellrank[krylov]'`? If not, the crash can be due to the fact that if PETSc is not installed, the full Schur decomposition is calculated using `scipy`, for which the transition matrix is densified (this can crash the Python process, esp. for large number of cells).
In any case, I'd check the logs in terminal from jupyter and/or also increas

[2021-09-28 08:12] michalk8 commented on #754
Do you still experience the issue @lijxug ?

[2021-09-29 09:48] EmilyMiddendorp commented on #466
Hi!
I saw this post and I have a similar problem. I am trying to run a 88k cells dataset in stochastic mode but by the second step (after calculating de softmax_scale), the code gets a RAM peak and kill my kernel. I checked if tax and jaxlib are on my environment and they are. I also tried to load a smaller dataset (±42k cells) but the kernel still died after a RAM peak. I am using n_jobs=1 to ser

[2021-09-29 11:25] EmilyMiddendorp opened #757 "RAM peaks makes calculation of transition matrix with stochastic mode impossible"
Hi!

I am trying to analyse a dataset of about 88k cells. On the Velocity kernel when I try to calculate the transition matrix on stochastic mode, the first step goes well, but the second one gets RAM peak that makes the kernel die every time. I found a similar [question ](https://github.com/theislab/cellrank/issues/466#issuecomment-930021950) on the GitHub but the answer did not solve my problem.

[2021-09-29 14:36] michalk8 commented on #757
Hi @EmilyMiddendorp ,
this is likely due to `jax` and the hessian computation (as far as I remember, it will be of shape `(n_neighbors, n_velo_genes, n_velo_genes)`). A few questions:
- do you use `jax` on GPU? can be checked via
- how much memory do you have allocated? afaik we did benchmarks (not performance one) on 48k subset of the Morris reprogramming data, but I can't remember how much memor

[2021-09-29 15:17] jeremymsimon opened #758 "Is adata.obsm["to_terminal_states"] a probability? Or a p-value?"
My dataset contains multiple samples, and we'd like to compare the mean probabilities of each sample to differentiate into one of the terminal states. The values look as we'd expect using `adata.obsm["to_terminal_states"]` with the only difference in our logic being that these could represent p-values as opposed to probabilities themselves.

Can you please clarify what these values actually are? I

[2021-09-29 16:30] michalk8 commented on #758
The values in ``adata.obsm["to_terminal_states"]`` are absorption probabilities (as defined in the Markov chain theory), not p-values.

[2021-09-29 18:54] #758 closed

[2021-09-30 03:09] lijxug commented on #754
Thanks for the reply @michalk8 .

It turns out that my `petsc4py` wasn't installed properly.
This error message pops up during the installation:

Using cached petsc4py-3.13.0.tar.gz (1.9 MB)
    ERROR: Command errored out with exit status 1:
     command: /data1/jason/tools/softwares/anaconda3/envs/singlecell_python3.8/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tm

[2021-09-30 09:35] michalk8 commented on #754
The error is most likely because `petsc4py` must be installed after `petsc` and it isn't.
For Linux, you can try the steps mentioned in: https://cellrank.readthedocs.io/en/stable/installation.html#dependencies
Alternatively, you can also try using the conda package, see: https://cellrank.readthedocs.io/en/stable/installation.html#bioconda
If none of the above works, please take a look at PETSc for

[2021-09-30 12:22] EmilyMiddendorp commented on #757
Hi Michal!

Thank you for the answer.
So apparently I am running jax on cpu. I got this output to the default_backend:
WARNING:absl:No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)
'cpu'
Can I change that?

I am using a VM with 48G of RAM memory, by the end of step 1 the memory is filled for about 40%. When step 2 starts I see it rapidly increase until i

[2021-09-30 17:20] michalk8 commented on #757
Thanks for the info!

WARNING:absl:No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)
'cpu'
Can I change that?

I wouldn't in this case, since GPUs have much less memory.

Even if specifying the neighbors to be `500`, it will be more, since the connectivities matrix is symmetrized. E.g. when testing this on the server using `104679` from the Morris reprogr

[2021-10-05 16:18] Marius1311 commented on #753
ok, fine.

[2021-10-05 16:18] #753 closed

[2021-10-05 16:28] Marius1311 commented on #758
@jeremymsimon, feel free to consult our [preprint](https://www.biorxiv.org/content/10.1101/2020.10.19.345983v2), especially the Online Methods for further details.

[2021-10-05 16:29] Marius1311 commented on #754
Any progress on this @lijxug?

[2021-10-07 16:35] ivirshup opened #759 "Lineage class and consolidation of cluster representations with scanpy"
From an earlier discussion with @Marius1311, I was wondering about the implementation of the lineage class and if we could do some consolidation with scanpy.

### Scanpy consolidation

It would be great to have a consistent way of representing a clustering (and fuzzy clustering) which keeps names and colors associated with the categories in scanpy,  and generally across the ecosystem (see also htt

[2021-10-11 11:20] michalk8 commented on #757
Glad to be of help - if there's are any more problems, just let us know. Closing this.

[2021-10-11 11:20] #757 closed

[2021-10-13 20:37] GabyBG opened #760 "Encountered NaN values in pseudotime"
Hello,

I am very interested in using your package in some single-cell datasets. So far your documentation looks great and I look forward to fully test this tool in my data. My datasets do not contain the mappings for unspliced and spliced (scVelo), that is why I am trying to follow the steps described in the 'CellRank beyond RNA velocity' section.

Here is my code:

[code]

The problem comes when

[2021-10-15 06:17] cubense opened #762 "PETSC ERROR and ValueError, I have set tol=1e-07"
100%|██████████| 104435/104435 [02:59<00:00, 581.31cell/s]
100%|██████████| 104435/104435 [02:11<00:00, 792.26cell/s]
100%|██████████| 4/4 [05:11<00:00, 77.77s/]
[0]PETSC ERROR: ------------------------------------------------------------------------
[0]PETSC ERROR: Caught signal number 13 Broken Pipe: Likely while reading or writing to a socket
[0]PETSC ERROR: Try option -start_in_debugger or -on

[2021-10-15 06:22] #762 closed

[2021-10-15 06:35] cubense opened #763 "PETSC ERROR and ValueError: when compute_absorption_probabilities"
when i run compute_absorption_probabilities in about 100k cells
there is petsc error
[0]PETSC ERROR: ------------------------------------------------------------------------
[0]PETSC ERROR: Caught signal number 13 Broken Pipe: Likely while reading or writing to a socket
[0]PETSC ERROR: Try option -start_in_debugger or -on_error_attach_debugger
[0]PETSC ERROR: or see https://petsc.org/release/faq/#

[2021-10-18 12:37] dawe opened #765 "Combining kernels, only addition is supported?"
Hi all, I am testing multiple kernels on the same data and I'd like to combine them. As far as I understand, kernels can only be combined as weighted sums (i.e. aK<sub>1</sub> + bK<sub>2</sub>, a > 0, b>0) I'd like to know if more complex operations can be done. How combination works? Is it just a weighted sum of the transition matrices?

[2021-10-21 08:04] Marius1311 commented on #765
Thanks for @michalk8 for the explanations! Just adding one point from my side: weighted sums and reverting the directionality of the data has been tested many times on real data by us and others and works well. Re the other operations @michalk8 mentioned, in particular, the `^` operator, this is experimental, so be careful.

[2021-10-21 08:39] #765 closed, assigned to Marius1311

[2021-10-26 17:24] adamgayoso opened #770 "Key error at import in Colab"
I just tried `pip3 install cellrank` in google colab and am getting the following error:

[code]

[2021-11-05 19:35] aanchalsharma833 opened #771 "Using CellRank for inferring trajectories of non-disease to disease cell states"
...
I am trying to run CellRank for one of the publicly available datasets in Alzheimer's disease space. I have the single cell profiles of two cell states, disease and "non-disease" (based on certain markers), from same patient across 8 samples. I did basic processing of the data including: QC, normalization, integration and clustering and was able to get different clusters of cells. Going ahead,

[2021-11-06 16:14] michalk8 opened #772 "Refactor kernels"
TODOs:
- [x] differentiate between directional and non-directional
- [x] make inversion not an inplace operation
- [x] don't compute `CytoTRACE` score on initialization
- [x] remove adaptive scaling (if reintroduced, will be added in a better form)
- [x] use elementwise multiplication when multiplying 2 kernels, not matmul
- [x] move `_tmap_as_tmat` from #664
- [x] refactor `RandomWalk` class to i

[2021-11-09 21:29] Marius1311 commented on #760
Great, thanks @michalk8

[2021-11-09 21:32] Marius1311 commented on #770
Did these suggestions help @adamgayoso ?

[2021-11-09 21:38] Marius1311 commented on #771
@michalk8, could you help with the second quetion please?

[2021-11-09 21:43] Marius1311 commented on #772
Re condition number checks, let's leave them in, they're probably not super essential to most users, but they're helpful to me when I'm debugging.

[2021-11-09 21:43] Marius1311 commented on #772
good initiative!

[2021-11-09 22:20] michalk8 commented on #771
I'd need to know the following:
[code]
Also, which unction you're using to plot the left figure in `3.`?

[2021-11-10 18:29] adamgayoso commented on #770
Yes, a bit of a strange error, but I'll close for now.

[2021-11-10 18:29] #770 closed

[2021-11-10 20:55] michalk8 commented on #763
I am assuming this has been solved, if not, feel free to re-open.

[2021-11-10 20:55] #763 closed

[2021-11-11 20:56] aanchalsharma833 commented on #771
Thanks @Marius1311 for your reply. Although I know the two states here, disease and non-disease, but I am interested in:

- calculating transition probabilities for non-disease cells. I am hoping this might give some idea whether they are headed towards disease path OR its just a population of cells which is not susceptible and will/was not meant to develop disease. In other words, to get an idea

[2021-11-12 17:12] aanchalsharma833 commented on #771
@michalk8 , My apologies for the confusion regarding 2. point. There was mix up of the numbers between different clusters. The labelling is not swapped.

Regarding left plot in 3. I used following:

[code]

[2021-11-13 14:05] Marius1311 commented on #771
Hi @aanchalsharma833, CellRank can only give you fate probabilities in *comparison settings*, i.e. you have early state A and late states B and C and you want to know how likely early cells are to go to either B or C. In your example, I take it you only have one early state A and one late state B. In such a setting, computing fate probabilities with CellRank wouldn't make sense. Correct me if I'm

[2021-11-17 04:54] hyjforesight opened #776 "Installation bug on Windows 10"
**Hello CellRank,
I created a totally new python 3.8 environment and conda install -c conda-forge -c bioconda cellrank-krylov
The errors came as below:**
[code]
**Then I tried to install the dependencies first, conda install -c conda-forge openmpi, still errors:**
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen s

[2021-11-17 04:57] hyjforesight commented on #776
One interesting thing is that, everytime I run the conda install -c conda-forge -c bioconda cellrank-krylov, conda-script.py will be open automatically by my VS Code.

[2021-11-17 05:27] hyjforesight commented on #776
ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Yuanjian\.conda\envs\Py38\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Yuanjian\\AppData\\Local\\Temp\\pip-install-_mo9hrdf\\petsc_beeb58ac6adc4b68b671c9a13bde12b4\\setup.py'"'"'; __file__='"'"'C:\\Users\\Yuanjian\\AppData\\Local\\Temp\\pip-install-_mo9hrdf\\petsc_beeb58ac6adc4b68b671c9a13bde

[2021-11-17 06:15] hyjforesight commented on #776
pip install cellrank, succeed.
But when

import scvelo as scv
import scanpy as sc
import cellrank as cr
import numpy as np

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_10804/1598530259.py in <module>
----> 1 import scvelo as scv
      2 import scanpy as sc

[2021-11-17 06:17] hyjforesight commented on #776
**here are the packages i installed**

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/Yuanjian/AppData/Loc

[2021-11-17 10:13] michalk8 commented on #752
closed via #775

[2021-11-17 10:13] #752 closed

[2021-11-17 10:33] michalk8 commented on #776
Hi @hyjforesight ,

re the 1st error: afaik our ``meta.yml`` conda doesn't specify a build for Windows (afaik ``openmpi`` is not built for Windows based on [this](https://anaconda.org/conda-forge/openmpi)).
re the 2nd error: seems like ``PETSc`` installation problems; unfortunately I don't a Windows machine at my disposal, but
it looks like you might need to installing ``PETSc`` manually (hinted b

[2021-11-18 05:18] hyjforesight commented on #776
Hello @michalk8,
I realize that i cannot install the cellrank[krylov], which requires openmpi but doesnt support Windows. So I just use pip install cellrank. It works well.
Is there any plan to make cellrank[krylov] support Windows?
Thanks!
Best,
YJ

[2021-11-18 10:34] michalk8 commented on #776
I've had a quick look, seems for Windows, we can use `MS-MPI` impl. (it's both on conda and `mpi4pi` supports it, so it shouldn't be problem, will take a stab at it.

[2021-11-18 10:42] Marius1311 commented on #771
Any update on this @aanchalsharma833 ?

[2021-11-18 20:28] michalk8 commented on #776
I've tried updating ``pygpcca`` to Windows, however, there are many problems (PETSc can be installed on Windows, but it's not as easy [e.g. can't use MS-MPI and other difficulties] and it doesn't provide a conda package).
If you have large data and want to use ``cellrank-krylov`` on Windows, the best way would be running the analysis inside a Docker container.

[2021-11-18 22:32] hyjforesight commented on #776
Hello @michalk8 ,
Thanks for the solution! Until now, it works fine by using cellrank without krylov. We'll try Docker once needed.
Thanks!
Best,
YJ

[2021-11-19 16:26] michalk8 commented on #776
Ok, if you encounter any problems, feel free to (re-)open; closing this.

[2021-11-19 16:26] #776 closed

[2021-11-23 21:36] aanchalsharma833 commented on #771
I agree that from the nature of experiment we know of only two labels (states) here, A (non-disease) and B (disease), but is it possible that CellRank could identify the hidden states in case anything exists? As we can see from the UMAP plot (all the cells are neurons), the disease cells are enriched in different clusters, could these represent different states?

[2021-11-24 22:58] michalk8 opened #777 "Refactor Lineage class"
TODOs:
- ~[ ] consider not subclassing `numpy.ndarray` (related to #759 )~
- [x] remove some redundancies (esp. w.r.t. to indexing)
- [x] document/simplify indexing behavior
- [x] fix KeyError when wrong lineage is passed - e.g.
  ``KeyError: "Invalid lineage name: `Notoch`. Valid names are: `['Early Blastomeres_1', 'Early Blastomeres_2', 'Notochord']`."`` when passing ``Notochord2`` and ``Notocho

[2021-11-25 13:28] Marius1311 commented on #771
Yes, just go ahead and try applying the GPCCA esimator to the full dataset and see what you can find! If you find different meaningful terminal states, you can compte fate probabilities towards these. We explain this in detail in our tutorials.

[2021-11-30 17:25] mhwadsworth91 opened #780 "scv.tl.recover_latent_time - resolving ValueError 'could not convert integer scalar'"
Hello Theis lab,

Thank you for all your efforts with this package; my colleagues and I have enjoyed using it in our research.

At your earliest convenience, I would appreciate your help with solving an issue I'm running into when trying to compute the directed PAGA.

I was able to compute this back in October, however, I recently updated my conda environment and now I get the following error when

[2021-12-02 05:48] hyjforesight opened #781 "Some elements of chi are significantly negative: < -2.220446049250313e-15 when computing macrostates"
**Hello CellRank,
I got the errors like this when running cytoTRACE kernal. Could you please help me with this issue? Thanks!**
![image](https://user-images.githubusercontent.com/75048821/144364924-0698e2c4-0256-488f-82e4-5e5f5619668e.png)
![image](https://user-images.githubusercontent.com/75048821/144365288-7be12df6-dc91-4e25-aecb-b41011b21bf8.png)

[code]

[2021-12-02 10:52] Marius1311 commented on #780
@WeilerP @michalk8  do you have an idea of what may be causing this?

[2021-12-02 10:57] Marius1311 commented on #781
@michalk8, I think that's an example of a threshold in pyGPCCA being to tight, the deviation is very small, `10^-15`. Would you mind opening a PR to pyGCCA where you adjust this to say

[code]

[2021-12-02 14:20] WeilerP opened #782 "Wrong colors for macrostate composition per time step"
## Description

When running the tutorial for time-series datasets [here](https://cellrank.readthedocs.io/en/stable/real_time.html) the colors stored for each `day` are all the same. This leads to the plot produced by `g.plot_macrostate_composition(key="day")` be incorrect/uninformative.

### Expected plot

![image](https://user-images.githubusercontent.com/28675704/144439637-6541ed76-4fa8-4f5f-bf

[2021-12-02 14:22] WeilerP opened #783 "Inconsistency in CytoTRACE tutorial"
## Description

The Schur decomposition in the CytoTRACE tutorial [here](https://cellrank.readthedocs.io/en/stable/beyond_rna_velocity.html) highlights an eigengap after `5` eigenvalues.

![image](https://user-images.githubusercontent.com/28675704/144440031-35df7d35-0079-493f-99c6-374a1427e89d.png)

The following text, however, talks about an eigengap after `3` eigenvalues which is supposedly show

[2021-12-02 20:39] michalk8 commented on #783
This might've happened when the notebook was automatically regenerated (the better case) or we changed the defaults and this caused the issue.

[2021-12-02 22:54] michalk8 commented on #782
closed via #784

[2021-12-02 22:54] #782 closed

[2021-12-03 00:28] michalk8 commented on #780
There are several SO threads I've managed to find [1](https://stackoverflow.com/questions/29168699/cryptic-scipy-could-not-convert-integer-scalar-error), [2](https://stackoverflow.com/questions/52041224/valueerror-could-not-convert-integer-scalar-in-scipy-indexing), though nothing conclusive (one hypothesis that `int32` is used as `.indices` and it isn't sufficient to store the maximum index). I'v

[2021-12-03 04:16] hyjforesight commented on #781
Hello @Marius1311 and @michalk8,
Thanks for the solution! You guys are amazing! Unlike developers of other packages, you solve every issue so effciently! I really appreciate it!
Thanks!
Best,
YJ

[2021-12-03 04:16] #781 closed

[2021-12-03 05:31] hyjforesight opened #787 "Is it possible to set the initial state manually?"
...
Hello CellRank,
When running the low-level mode using GPCCA, the terminal state can be mannually set by estimator.set_terminal_states_from_macrostates() or estimator.set_terminal_states(). But GPCCA cannot set the initial state. Could you please tell us whether there is a way to set the initial state mannually in CellRank?
Thanks!
Best,
YJ

[2021-12-03 15:07] mhwadsworth91 commented on #780
Hello All,

Thank you for following up! Will run that today and upload it when complete.

In the meantime, if helpful for the troubleshooting process, attached is the code I used to process the H5AD object. Please note that, when I do not specify the root/end keys for the directed PAGA workup (line 718), I do not get the error above.

[MWadsworth_CellRank_Troubleshooting_20211203.md](https://githu

[2021-12-03 16:25] michalk8 commented on #787
GPCCA has 2 hidden functions, [GPCCA._compute_initial_states](https://github.com/theislab/cellrank/blob/master/cellrank/tl/estimators/terminal_states/_gpcca.py#L1083) and [GPCCA._set_initial_states_from_macrostates](https://github.com/theislab/cellrank/blob/master/cellrank/tl/estimators/terminal_states/_gpcca.py#L1127), which work exactly as they `terminal_states` counterpart, but currently, there

[2021-12-06 04:15] hyjforesight commented on #787
Thanks for the information!

[2021-12-06 04:15] #787 closed

[2021-12-06 04:23] hyjforesight opened #788 "Is it possible to draw the CytoTRACE pseudotime-directed PAGA graph?"
...
**Hello CellRank,
We know by recovering the latent time, it's available to combine the 'velocity_pseudotime' or 'latent_time' with the initial state and terminal state calculated by CellRank to draw the directed PAGA graph by the below coding:**

[code]

**Because CytoTRACE can also calculate 'ct_pseudotime' by ctk = CytoTRACEKernel(adata), we tried to use ct_pseudotime to draw the CytoTRACE p

[2021-12-06 08:28] Marius1311 opened #789 "Speed up the `_partition` utility"
As we saw recently when we were debugging @WeilerP's data example, it makes sense to have a utility to learn something about transient and recurrent classes in a Markov chain. Currently, that's done by the `_partition`.  utility function. Compute time can be decomposed into the following three tasks:

1. Initialise the directed graph using `nx.DiGraph(conn)`. As we saw in @WeilerP's example, this

[2021-12-07 17:38] Marius1311 commented on #783
I used to get the plot below:

<img width="779" alt="Screenshot 2021-12-07 at 18 37 50" src="https://user-images.githubusercontent.com/24494650/145078792-f2dcc535-9cf4-47be-b585-4e039b64e5f9.png">

[2021-12-07 17:39] Marius1311 commented on #783
The random walks also used to look slighly different - which change could have caused this @michalk8?

[2021-12-07 17:40] Marius1311 commented on #783
In line 10, we fix most of the relevant parameters: `ctk.compute_transition_matrix(threshold_scheme="soft", nu=0.5)`

[2021-12-07 17:40] Marius1311 commented on #783
This cannot yet be caused by https://github.com/theislab/cellrank/pull/778, right?

[2021-12-07 17:50] Marius1311 commented on #788
That's a good point, I don't think that's currently possible, but I'm not entirely sure how `scv.tl.paga` uses the velocities under the hood, @VolkerBergen implemented this function. In any case, this is not currently supported, I'm afraid.

[2021-12-07 17:51] Marius1311 commented on #788
Feel free to open a PR to scVelo to suggest a solution that doesn't make use of the velocities, but just uses a pseudotime.

[2021-12-08 18:09] hyjforesight commented on #788
@Marius1311 Thanks for the response. I open a request issue at scVelo.

[2021-12-08 21:08] michalk8 commented on #783
No, it cannot.

[2021-12-09 11:35] Marius1311 commented on #783
@WeilerP volunteered to check what caused this change. Thanks @WeilerP!

[2021-12-10 17:57] #788 closed

[2021-12-15 12:13] WeilerP commented on #783
@michalk8, the proposed eigengap switches from 3 to 5 when applying [this](https://github.com/theislab/cellrank/commit/2bfbd3ceae3b0e9f2470675dedd95d9fe4f79eac) commit, i.e. after merging #583. I presume it is due to the changes to `Pseudotimekernel.compute_transition_matrix`. Specifying `b=20` indentifies the gap after 4 eigenvalues. What was the reason for removing `percentile` and `density_norm

[2021-12-15 13:15] michalk8 commented on #783
We've had the internal finetuning of these on Zebrafish + other dataset (also linked in the PR, should be visible for you) and it did perform slightly worse.

[2021-12-15 13:29] WeilerP commented on #783
Yes, but why not simply use default values (`density_normalize=False`, `percentile=None`) to allow for more flexibility?

[2021-12-15 14:27] WeilerP opened #790 "Incorrect displaying of citations in docs"
## Description

The citations in the docs are not displayed correctly. In the _CellRank beyond RAN velocity_ tutorial_ [here](https://cellrank.readthedocs.io/en/stable/beyond_rna_velocity.html), for example, the citations are not supposed to be shown directly but only made accessible through a hyperlink. To give concrete example: The first sentence is displayed as _This tutorial shows how to work

[2021-12-15 15:55] michalk8 commented on #790
Must've happened when we switched to bibtex for citations, will fix.

[2021-12-16 18:25] #790 closed

[2021-12-19 03:34] subercui opened #792 "Why are the driver genes by default are ranked using correlation values rather than p values?"
...
Hi, as shown in the [tutorial for computing driver genes](https://cellrank.readthedocs.io/en/stable/cellrank_basics.html?highlight=driver#Compute-lineage-drivers):

Why are the driver genes by default are ranked using correlation values rather than p values? For example, I saw negative correlations of large absolute values in my case. Why these are excluded from the top drivers?

[2021-12-20 16:26] YitengDang opened #793 "Tutorial time series dataset: error in computing transition matrix"
I encounter an error when running the tutorial "Time series dataset" script. Specifically, it arises after initializing the Waddington-OT kernel and computing initial growth rates, which I can both run without error. However, when I try to compute the transition matrix it fails.

A similar error was mentioned in this earlier issue, but unfortunately I could not figure how to solve it based on this

[2021-12-20 18:14] michalk8 commented on #793
Hi @YitengDang ,

you have to install `wot` from GitHub as e.g. `pip install git+https://github.com/broadinstitute/wot`, their latest release on PyPI doesn't support this argument. This should fix the error.

[2021-12-21 10:37] YitengDang commented on #793
Thanks, fixed the problem for me!

[2021-12-21 10:37] #793 closed

[2021-12-26 13:25] Roger-GOAT commented on #580
Hi @michalk8 , I get a similar error.
[code]
only one gene was shown.
If I run
[code]
link='identity'caused a similar issue.
use_raw=True can't work and the raw is deleted. Only variously gene leaves.(2000 genes)

[2021-12-27 03:21] Roger-GOAT opened #794 "cr.pl.heatmap() returns RuntimeError: Fatal model failure"
...
I get a similar error. I try the solution in #580 but errors remained.

[code]
only one gene was shown.
If I run
[code]
link='identity'caused a similar issue.
use_raw=True can't work and the raw is deleted. Only variously gene leaves.(2000 genes)

[2021-12-28 23:04] michalk8 commented on #794
Hi @Roger-GOAT ,

the problem seems to be how we identify the lineage end-point in pseudotime [here](https://github.com/theislab/cellrank/blob/master/cellrank/ul/models/_base_model.py#L518-L537) - it's rather heuristic (smoothing + taking max).
In ``cellrank.pl.heatmap``, you can specify ``time_range=0.9`` which indicates where the end-point of the lineage(s) in pseudotime is.

However, looking at

[2022-01-08 06:08] Roger-GOAT commented on #794
Hi @michalk8 , thanks for the reply!
I try time_range=0.9 still get the error.
[code]
[data.txt](https://github.com/theislab/cellrank/files/7832652/data.txt)

[2022-01-10 19:15] michalk8 commented on #794
@Roger-GOAT
thanks a lot for the data! Looks like the PT is all `NaN` - that was my mistake - could you please run this updated line and send the data again?
[code]
I've tried replicating with linearly spaced pseudotime, couldn't produce the error. Other than that, there seems to be only 1 terminal state, so the probability of going there is going to be `1` for all cells (it still shouldn't error)

[2022-01-11 09:19] Roger-GOAT commented on #794
@michalk8 **Thank you very much!**
Here is the code FYI. Only one terminal and initial was identified.
[code]
another error in the last running:
[code]

[data (2).txt](https://github.com/theislab/cellrank/files/7845178/data.2.txt)

[2022-01-16 16:02] Marius1311 commented on #783
@WeilerP, would you mind checking whether this is due to `density_normalize`, `percentile`, or both of them? I recall `percentile` just didn't make much sense to me intuitively, that's why we removed it (also, it didn't give better performance, as @michalk8 stated above).

[2022-01-16 16:03] Marius1311 commented on #790
Thanks for raising this @WeilerP! And thanks for fixing @michalk8.

[2022-01-16 16:05] Marius1311 commented on #792
Thanks for your question @subercui. You can easily sort them in whichever way you like using standard pandas sorting, i.e. df.sort_values(by=`YOUR_QUANTITY_OF_INTEREST`), see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html.

[2022-01-16 16:05] #792 closed

[2022-01-16 16:13] Marius1311 commented on #794
@michalk8, is this a PETSc error?

[2022-01-17 17:31] Zethson opened #795 "Change cellrank default PAGA calculation recommendation"
Hey,

nothing short of amazing work @Marius1311 and @michalk8.
Not an import feature request, but thought I'd bring it up nevertheless.
When attempting to

`cr.pl.cluster_fates(adata, mode="paga_pie", basis="umap", cluster_key="leiden_0_5")`

cellrank tells me to use `scvelo.tl.paga` which only works when velocity data is actually available. However, in my case it is not (using EHR data + connecti

[2022-01-19 03:30] Roger-GOAT commented on #794
@michalk8 @Marius1311 sometimes I can get the heatmap, it still shows PETSc error.
In the "cr.tl.lineage_drivers", some genes get NaN in qval, is this the reason?
In my latest run, it shows
[code]
The Fbln5 is in the top gene in lineage 6, but the qval = NaN. However, in
[code]
the map is good.
![image](https://user-images.githubusercontent.com/22614959/150058815-33142f41-4cb4-4298-a594-b36aef51ef

[2022-01-19 12:22] michalk8 commented on #795
Hi @Zethson, thanks for the suggestion!

Sounds good (would maybe add arg `flavor: Literal['scanpy', 'scvelo'] = 'scvelo` with the error message you suggest.

[2022-01-20 20:21] Zethson opened #796 "Large amount of Deprecationwarnings"
[code]

Have a look at your tutorial at cell 21 here: https://cellrank.readthedocs.io/en/stable/cellrank_basics.html

The warnings origin from pygam. However, it might be worth it to explicitly filter this warning from Pygam with cellrank until they solve this. It's really spammy.

[2022-01-21 14:55] stela2502 opened #797 "saving results fails"
The adata file from the tutorial https://cellrank.readthedocs.io/en/stable/cellrank_basics.html can not be saved using adata.write('CellRank_Tutorial.h5ad').

[code]

[code]

#### Versions:

cellrank==1.5.1 scanpy==1.7.2 anndata==0.7.8 numpy==1.21.2 numba==0.55.0 scipy==1.7.3 pandas==1.3.5 pygpcca==1.0.3 scikit-learn==1.0.2 statsmodels==0.13.1 python-igraph==0.8.3 scvelo==0.2.4 pygam==0.8.0 matplo

[2022-01-21 18:53] michalk8 commented on #797
Hi @stela2502 ,

thanks for raising this issue, can reproduce. Quickest way to fix this is to upgrade to the newest version of `AnnData` as `pip install git+https://github.com/theislab/anndata`, though new release should be coming out soon.
Not sure exactly why I've decided to store the coarse-grained transtions as `AnnData` (could be just `pandas.DataFrame`), so will change it later.

[2022-01-21 18:54] michalk8 commented on #796
Thanks for pointing this out, will catch and ignore these warnings.

[2022-01-24 04:00] shaln opened #800 "Error computing terminal states (Schur decomposition step)"
...
Hello! Thank you for creating this tool - just what I was looking for :) I've been following the CellRank basics tutorial and have issues computing the terminal states for one of the conditions in my dataset (Control and Disease). I could run `cr.tl.terminal_states(control, cluster_key="seurat_clusters", weight_connectivities=0.2) ` just fine but had the following error when running it on the

[2022-01-24 07:29] stela2502 commented on #797
Sometimes one is totally focused on an other mechanistic part and just happy there is a structure to store the results in that one does not need to maintain oneself ;-)
But the fact you never tried to save the results seams to be surprising to me. You do not think the results are worth saving?
:-D
Looking forward to the update. At the moment I just deleted the 'problematic' part.

[2022-01-24 09:32] Marius1311 commented on #800
Sounds like some sort of installation error @michalk8? @shaln, we'll get back to you next week about this, we have deadlines this week.

[2022-01-24 09:39] Marius1311 commented on #797
Hi @stela2502, thanks for catching this!

In my analysis workflow, I usually don't write entire AnnData objects to file to save intermediate results because it's quite memory inefficient. Instead, @michalk8 developed a simple scanpy extension called `scachepy`: https://github.com/theislab/scachepy

As a disclaimer, it's not actively maintained and a bit unstable. Nevertheless, the idea is great: y

[2022-01-24 09:45] stela2502 commented on #797
Thank you for this info.
I saved the adata object at the end of the tutorial analysis as that was as far as I wanted to go there.
We are thinking of how to show the results in VR: https://www.cellexalvr.med.lu.se/

[2022-01-24 14:23] Marius1311 commented on #797
Nice! Would be very cool to see CellRank results in VR :)

[2022-01-27 14:09] natallah opened #801 "Using CellRank to infer healthy to disease trajectories and how to handle multiple samples/conditions/celltypes"
...
Hello, similar to the question asked in issue #771, I am curious about whether I can use CellRank to infer disease trajectories when we have one initial point: healthy and two disease states: mild and severe.  We do not know whether the usual trajectory is from healthy to mild to severe disease (unbranching trajectory) or if it is from healthy to mild disease in some patients and healthy to se

[2022-01-27 15:24] stela2502 commented on #797
To import CellRank results into VR one needs to hop through some loops at the moment.
We can only use the CellRank results as FACS index values. And we can not directly show these values on the umap, but one can create FACS 3D plots and select from there.

[2022-01-31 10:49] stela2502 opened #802 "Missing python packages missing?"
Running your example analysis using the human liver cell atlas data (158k cells) I hit a dead end:
[code]

Could I ask to add these packages petsc4py and/or slepc4py  to the requirements?

Thank you!

[2022-01-31 11:03] stela2502 commented on #802
Oh - now I get why you do not have it in the requirements. 111Mb of additional packages for the Ubuntu 20.04 package python3-slepc4py...

[2022-01-31 11:08] michalk8 commented on #802
We have them listed as an optional requirement [here](https://github.com/theislab/cellrank/blob/master/setup.py#L42), but PETSc/SLEPc is sometimes a bit of a pain to install through `pip`.
I'd recommend using `conda install -c conda-forge -c bioconda cellrank-krylov` (other options are listed here, but I think you've found it: https://cellrank.readthedocs.io/en/stable/installation.html)

[2022-01-31 21:42] Doris-Fu commented on #399
Hi @michalk8  @Marius1311
I'm experiencing the same issue as @roofya. My kernel always dies on `Computing Schur decomposition` when I run `cr.tl.initial_states`.  I'm using my own dataset which is 23k cells. I have removed and reinstalled the dependencies you mentioned but the problem persists. I also tried to downsample my data to 6k cells but that didn't help.

I ran ` python -c "import slepc4py

[2022-02-01 12:19] stela2502 commented on #800
I also have a problem at exactly this step.
I did not try to compile the underlying library myself, but installed the Ubuntu 20.4 python3-petsc4py and python3-slepc4py packages. I am running the tutorial, which works fine if both packages are not installed, but stops exactly at the here described step. I assume it is also an error with the C(++) library.

Can you tell me how to install this librar

[2022-02-01 12:48] stela2502 commented on #801
One totally off-topic reply: Could it be possible that you already know what could be the case and all you need is the computer to read your mind of how to put a timeline into your data?
In case you want to check if your brain is able to find an 'interesting' trajectory/timeline in your data you can try out CellexalVR.
https://www.cellexalvr.med.lu.se/

[2022-02-01 13:17] michalk8 commented on #802
Think this can be closed, will continue the installation problem discussion in #800

[2022-02-01 13:17] #802 closed

[2022-02-01 13:58] michalk8 commented on #800
@shaln I'd recommend trying using `conda` as `conda install -c conda-forge -c bioconda cellrank-krylov`, since it should have everything bundled and there shouldn't be such issues.
Or just running `conda install -c conda-forge pygpcca` which is the backend package that uses PETSc/SLEPc

Other solution can be correctly symlinking the library, if it's already present but doesn't have the correct nam

[2022-02-01 16:05] stela2502 commented on #800
Now I even got it down to the 'killing line':

PETSc._initialize()

[2022-02-01 16:27] michalk8 opened #803 "Fix CI"
Fix failing CI:
- [x] pin `pandas!=1.4.0`
- [ ] fix PETSc/SLEPc install

[2022-02-01 18:13] michalk8 commented on #787
If by `compute the initial states with the GPCCA` you mean use the states set by e.g. `GPCCA._compute_initial_states`, then unfortunately, there isn't an easy way - you'd have to overwrite I think 1 attribute, can post the code here if this is what you want.

The intended approach is to change the directionality of the `kernel` objects.
You'd have to re-initialize the kernel objects with ``backwar

[2022-02-02 08:43] stela2502 commented on #800
Thank you for your reply. I will dig through the manual installation now.

[2022-02-02 14:21] michalk8 commented on #795
closed via #799

[2022-02-02 14:21] #795 closed

[2022-02-04 14:38] dawe opened #805 "Retrieve velocity graph from VelocityKernel"
Hello all, as far as I understand the `VelocityKernel` calculates correlations between the velocity vector of any cell with the expression level of neighbor cells, then this is used to infer a transition probability, being the final transition matrix. Is it possible to retrieve the velocity graph that is calculated in the middle or to recalculate it from the transition matrix? Of course, I can rec

[2022-02-04 21:12] michalk8 commented on #805
Hi @dawe ,

`VelocityKernel` has attribute `.logits`, which are the non-normalized (right before softmax) cosine/correlation/dot product similarities between the gene-expression displacement and the velocities. However, I've phased this out in #791, since it wasn't being used anywhere.
If you're using this somewhere downstream, can keep it there for ease of access.

[2022-02-06 11:15] tarak77 opened #806 "identifying cluster marker genes when using CellRank without RNA velocity"
Hi, I was able to implement CellRank on my data which does not have any RNA velocity information available. With the limited cells I have, I obtained a few clusters in the final output. Is it possible to know the marker genes in each cluster?
<img width="680" alt="Screen Shot 2022-02-06 at 4 44 45 PM" src="https://user-images.githubusercontent.com/32019333/152678163-8f48db6e-a696-49c6-a0cb-ff5ba21

[2022-02-06 15:01] Chengwei94 opened #807 "Cytotrace for integrated datasets"
...

How should I use cellrank on my data with the cytotrace kernel if it is batch corrected? Thanks!

[2022-02-09 10:36] shaln commented on #800
@michalk8 apologies for the delay - had some other deadlines to work on so had to put this on hold. I had used `pip` instead of `conda` as `conda install -c conda-forge -c bioconda cellrank-krylov` kept giving me the following error and I couldn't find a way to resolve it. I have tried `conda update --all` and reinstalling anaconda but still had the same issue.

Do you know why this might've occur

[2022-02-09 10:38] shaln commented on #800
Oops, accidentally closed the issue!

[2022-02-09 12:38] shaln commented on #800
Just to add, I've also created a new conda environment and could install CellRank using `conda install -c conda-forge -c bioconda cellrank-krylov` here. However, the following error came up when I ran `scv.pl.velocity_embedding_stream` function.

I was previously able to run this function in my regular (base) conda environment on the exact same file, so I'm not sure what has gone wrong here...

[c

[2022-02-09 13:05] michalk8 commented on #800
This is related to `pandas==1.4.0`, if you downgrade to e.g. `1.3.5`, it should work again

As for the `conda` errors, I will have to have a deeper look to try and reproduce it using the packages you have listed. Quick question: have you tried installing `CellRank` using a new conda environment and not the base one?

[2022-02-09 14:11] shaln commented on #800
Yes, I have tried installing `CellRank` using a new `conda` environment and it works fine. The only issue I had in this new conda environment was with the `scv.pl.velocity_embedding_stream` function, which you've just mentioned is related to `pandas==1.4.0`. I'll try downgrading pandas in this new conda environment and post an update here afterwards. Thanks!

[2022-02-09 19:06] Marius1311 commented on #797
Hi @stela2502, sorry but I don't get the problem. Could you give a concrete example of what's currently failing/missing please?

[2022-02-09 19:11] Marius1311 commented on #399
Hi @Doris-Fu, could you please try whether this works if you don't use SLEPSc/PETSc? You can do that easily by running via the low-level mode (check the kernels and estimators tutorial) and passing `method="brandts"` in `estimator.compute_schur()`, see https://cellrank.readthedocs.io/en/stable/api/cellrank.tl.estimators.GPCCA.compute_schur.html#cellrank.tl.estimators.GPCCA.compute_schur

[2022-02-09 19:24] Marius1311 commented on #802
Just as a comment, once you have PETSc/SLEPc set up correctly @stela2502, analyzing 158k cells in CellRank won't cause you any problems. In fact, in the most recent version of CellRank, we have internally run CellRank on 100k cells on a moderate server in less than one minute (this includes macrostate computation and fate probabilities).

[2022-02-09 19:27] Marius1311 commented on #801
Hi @natallah, as long as batch effects aren't very pronounced, I would work with unintegrated data, compute RNA velocity jointly on all samples and proceed with CellRank analysis. Using the low level pipeline (check out our kernels and estimators tutorial) will allow you to look into macrostates and their stability, i.e. figuring out whether you have one or two terminal states. Also, you can compu

[2022-02-09 19:28] Marius1311 commented on #801
I will close this issue for now, feel free to reopen if questions persist once you have gone through the tutorial.

[2022-02-09 19:28] #801 closed

[2022-02-09 20:40] shaln commented on #800
Just wanted to update that the `CellRank` installed in a new `conda` environment works fine after I downgraded `pandas` to `1.3.5`.

[2022-02-09 20:40] #800 closed

[2022-02-09 20:42] shaln commented on #796
Is there any way to hide/suppress the deprecationwarnings?

[2022-02-09 20:43] Zethson commented on #796
See here: https://github.com/theislab/cellrank/commit/5019fbb0b7b15b16239d1d078410ca65affd5d22

[2022-02-09 20:43] #796 closed

[2022-02-09 20:46] shaln opened #808 "Error running 'cr.pl.heatmap'"
I have the following error running `cr.pl.heatmap` and I'm unsure how to resolve it (is it a bug?). The function worked fine for the other files I ran though, so I'm not sure what the issue might be.

For this control file:

- seurat_clusters = 0, 1, 3
- terminal states = 1, 3, 0
- initial states = 0

[code]

[2022-02-09 20:59] Marius1311 commented on #805
Hi @dawe, your input would be appreciated. Thanks!

[2022-02-09 21:01] Marius1311 commented on #806
Hi @tarak77, thanks for your question. There doesn't seem to be much trajectory structure in your data to begin with, is there any underlying biology that pushed you towards a trajectory approach like CellRank? If not, I would rather advise you to follow a standard scanpy/scVI workflow which looks for discrete, cluster level variation in the data, possibly applying PAGA to find cluster-level conne

[2022-02-09 21:02] Marius1311 commented on #807
I think @WeilerP has some experience with this.

[2022-02-09 21:06] Marius1311 commented on #800
Thanks for letting us know @shaln !

[2022-02-09 21:08] Marius1311 commented on #808
Could it be that `control.varm['terminal_lineage_drivers']["1_corr"]` simply does not exist?

[2022-02-09 21:42] WeilerP commented on #807
@Chengwei94, sorry, would you please elaborate a bit more? What's the problem with simply applying the kernel? Is it that cells from the same time point are no longer being clustered together after batch correction?

[2022-02-09 21:45] shaln commented on #808
I thought so too but I have double-checked the output from `cr.tl.lineage_drivers(control)`, which I saved as a csv file and there is a column for `1_corr`...

[2022-02-09 21:45] WeilerP commented on #808
The stacktrace also includes the hint `KeyError: "Invalid lineage name `1`. Valid names are: `['3_1', '1_1', '3_2', '1_2']`."`. Did you check if it works when using `lineages="1_1"`?

[2022-02-09 22:26] dawe commented on #805
Hi @Marius1311 , sorry, I haven’t seen the answer by @michalk8. I would definitely keep that or keep track of parameters useful to invert the transform. If cosines/correlations are transformed to probabilities using softmax, would logarithm of transition matrix do the job?

[2022-02-10 03:42] tarak77 commented on #806
Makes sense. I will work on that!

[2022-02-10 04:19] Chengwei94 commented on #807
Hi @WeilerP,

Thanks for the reply. My datasets have quite obvious batch effects and I have corrected them using Seurat. I wasnt sure what is the correct workflow for working with cytotrace in this case as that from the cytotrace paper, there was something called icytotrace which seems to take care of batch effects, and I think its not implemented in cellrank?

I was wondering if I can just used m

[2022-02-10 06:25] WeilerP commented on #807
@Chengwei94, yes, you can simply pass the batch corrected data to the kernel.

[2022-02-10 06:32] stela2502 commented on #802
@Marcus1311 correct, installing PETSc/SLEPc is not too simple, but I got it to work in a singularity image. Install from the packaged tar files for both libraries was necessary as well as some import magic in every jupyter script one runs.
Back to CellRank: Yes CellRank does work and the whole process is also memory efficient.
Nevertheless I could not finish the whole tutorial (https://cellrank.re

[2022-02-10 07:14] Chengwei94 commented on #807
@WeilerP , sorry for checking again, since Seurat returns log normalized values from its integration (and it returns negative values too), am I right to say that I need to use something like scvi or scanaroma which is able to returns corrected count matrix

[2022-02-10 07:41] WeilerP commented on #807
@Chengwei94, please have a look at the tutorial [here](https://cellrank.readthedocs.io/en/stable/beyond_rna_velocity.html). You will see that we are also working with log transformed counts as well. You just have to make sure that you are working not only with the highly variable genes!

[2022-02-10 08:29] Chengwei94 commented on #807
Ok thanks!

[2022-02-10 08:29] #807 closed

[2022-02-10 12:20] shaln commented on #808
Yes, I have tried `lineages="1_1"` but I had the following error stating `KeyError: "Invalid lineage name "1_1". Valid names are: ['1', '3', '0']."` ...

The terminal states for this particular sample (control) are 0, 1 and 3. The lineages 1_1, 1_2, 3_1 and 3_2 are the terminal states for the disease sample that I ran in parallel with control within the same Jupyter notebook. I have ran other cont

[2022-02-10 12:28] WeilerP commented on #808
@michalk8, do you have any idea or intuition to why this is failing?

[2022-02-10 12:54] michalk8 commented on #808
@shaln could you print the output of the following?
[code]

My hunch is that there will be a discrepancy between these 2. If yes, than it's definitely a bug.

[2022-02-10 13:54] shaln commented on #808
@michalk8 here's the output I have. Thanks for the speedy responses!

[code]

[2022-02-10 15:55] michalk8 commented on #808
Thanks for the output, seems fine. Looking closer at the stacktrace, it passes the 1st check [here](https://github.com/theislab/cellrank/blob/master/cellrank/pl/_heatmap.py#L522), but fails when the gene trend model is initialized [here](https://github.com/theislab/cellrank/blob/master/cellrank/ul/models/_base_model.py#L401-L402).

What's strange that the `Lineage` object has only `3` terminal sta

[2022-02-11 04:52] jmrussell opened #809 "Issue with plotting terminal and initial states: AttributeError: 'Series' object has no attribute 'categories'"
When running

[code]
When I check merged.obs after running the tl functions, I see new columns for initial_states_probs and it is filled with values, but the initial_states value is all 'Nan'.

![image](https://user-images.githubusercontent.com/8886267/153539269-14a6f6f5-3551-4473-a30a-69319d4015ae.png)

I get no error messages when running tl.initial_states/terminal-states, only the plotting func

[2022-02-11 07:47] jmrussell commented on #809
I'm seeing now this is probably related to the issue with pandas 1.4.0 and outside of your direct control.

[2022-02-11 11:54] michalk8 commented on #809
Hi @jmrussell , yes, this is `pandas==1.4.0` issue, has been fixed in https://github.com/theislab/cellrank/commit/82d658ce8a3b4c535b94cd01f4c1ad4eed41b73b
For now, I'd recommend downgrading to e.g. `pandas==1.3.5`.

[2022-02-11 12:28] Marius1311 opened #810 "Update time series tutorial"
Currently, our tutorial subsamples the data to 25% of the cells to speed up computations - rather than doing that, we should use our adaptive thresholding scheme, which is currently not used. Would be good to see whether this changes results - it's okay if it does actually, subsampling to 1/4 of the data is quite a reduction in cell number.

[2022-02-11 15:13] #806 closed

[2022-02-11 15:15] Marius1311 commented on #802
Hi @stela2502, would you mind opening a new issue for this? Thanks!

[2022-02-11 15:18] #805 closed

[2022-02-11 15:24] #809 closed

[2022-02-12 07:08] WeilerP commented on #810
The adaptive thresholding only helps when computing the Schur decomposition, macrostates, etc. I reran the tutorial on the entire dataset and this part is fast (<= 1 minute for each). The problem is computing `wk.compute_transition_matrix` which took over an hour to finish.
The eigengap is now after the fourth eigenvalue (before it was after the first, so this is better)

![image](https://user-ima

[2022-02-12 17:18] michalk8 commented on #772
closed via #791

[2022-02-12 17:18] #772 closed

[2022-02-13 13:38] 117999 opened #811 "Using Cellrank for metabolic-labelling-based RNA velocity"
...
Hi Marius,

I am wondering whether CellRank can be directly used for the metabolic-labeling experiments, and the labeling RNA velocity computed with Dynamo, which is released recently on Cell.

Thanks

[2022-02-13 20:34] Marius1311 commented on #810
Thanks a lot @WeilerP for running this, that's great! Good to see we get the same macrostates. You're right, the actual part that computes the transport maps does take a while, of course. Maybe we should pre-compute them and load them from file (I guess they can be cached in the kernel @michalk8 ? ) I think that would be the best solution actually, since we could showcase how to run CellRank on re

[2022-02-14 13:28] Marius1311 commented on #811
Hi @117999, thanks for your question. As long as dynamo gives you high-dimensional velocity vectors, this should work by simply applying the `VelocityKernel` to it. This is quite an interesting application, so please keep us up to date with your experiments and let us know in case you encounter difficulties along the way.

[2022-02-15 04:03] 117999 commented on #811
Hi Marius,

Thanks a lot for your timely reply. I have tried to apply the VelocityKernel and compute the transition matrix. However, warnings appeared that `WARNING: KNN graph is not symmetric `
and upon computing the transition matrix, it shows that `ValueError: Matrix is not row-stochastic. The following rows don't sum to 1`

I am wondering why would the KNN graph not symmetric, and what's the i

[2022-02-15 11:37] shaln commented on #808
Hi, apologies about the delay in getting back regarding this! Oddly enough, the problem has gone away now and I can generate the heatmap just fine and I'm not sure why...

In case this is helpful for any future troubleshooting, these are the macrostates I have:

[code]

For context, in case I forgot to mention this before: I had my control and disease samples as separate .h5ad files and analysed t

[2022-02-15 11:37] #808 closed

[2022-02-15 17:14] Doris-Fu commented on #399
@Marius1311 Yes this worked for me! Thank you a lot!

[2022-02-16 05:43] hyjforesight opened #812 "g_fwd.compute_absorption_probabilities() reports error"
Hello CellRank,
When I was running the CytoTRACE kernal by using my own data. I got error like below. I also tried `solver='direct', it didnt work.
Could you please help me to solve this?
Thanks!
Best,
YJ

[code]

[code]

#### Versions:

scvelo==0.2.4  scanpy==1.8.2  anndata==0.7.8  loompy==3.0.6  numpy==1.21.5  scipy==1.7.3  matplotlib==3.5.1  sklearn==1.0.2  pandas==1.3.5
cellrank==1.5.1 scanpy=

[2022-02-16 11:52] shaln opened #813 "Low-level API heatmap"
Hello. I have a question about plotting gene expression trends and heatmaps when running the low-level API. Would the following steps be the appropriate way to get the plots when using the low-level API?

I first ran the low-level API per the tutorial to get the terminal states, and then computed the initial states by repeating the analysis using `backward=True` when initialising the kernel object

[2022-02-16 12:31] michalk8 commented on #812
Hi @hyjforesight , seems like the matrix might be badly conditioned and the solver is having troubles solving it. I'd try setting `preconditioner='ilu'` or to decrease the tolerance when solving this, both might help.

[2022-02-16 17:46] bsmith030465 opened #814 "CellRank in google co-lab fails"
Hi,

I was just trying to get started with the tutorial in google co-lab [link](https://colab.research.google.com/github/theislab/cellrank_notebooks/blob/master/tutorials/kernels_and_estimators.ipynb#scrollTo=DSnv6U52fKvd), but I get an error in the first block of code:

[code]

[code]

How should I go about resolving this?

thanks!

[2022-02-16 18:28] michalk8 commented on #814
Hi @bsmith030465 , did you try restarting the runtime in `Runtime > Restart runtime`?
I can confirm I got the above error as well, but after restarting it, I was able to install the package.

[2022-02-17 04:33] hyjforesight commented on #813
Hi @shaln
Right, you should recover `latent_time` by this function if your data was not proceeded by scVelo dynamical model. If your input data has `dpt_pseudtime` or 'velocity_pseudotime', no need to do `scv.tl.recover_latent_time()`
[code]
No need to do this step. It just comparing the similarity between "latent_time" and "dpt_pseudotime".
[code]
you should run `cr.pl.lineage_drivers()` or `g.co

[2022-02-17 04:44] hyjforesight commented on #783
Hello CellRank,
This is also what I'm curious about. If the dash line is at Index '4', how many `n_states` shall we set for `g_fwd.compute_macrostates(n_states=?)`, 4 or 5?
Thanks!
Best
YJ

[2022-02-17 05:06] hyjforesight commented on #812
Hello @michalk8
Thanks for the response.
I tried several different settings, but it didn't work.
[code]
[code]
[code]

[2022-02-17 06:26] hyjforesight commented on #812
Hello @michalk8
I just reUMAP my data by Scanpy. Now it passed.
Thanks!
Best,
YJ

[2022-02-17 06:26] #812 closed

[2022-02-17 08:06] WeilerP opened #815 "CytoTRACE tutorial outdated"
## Description

If I am not mistaken, the API for the CytoTRACE kernel changed with #791. Previously, the all statistics were calculated when instantiating the kernel, _i.e._,

[code]

To achieve the same behaviour, the following code needs to be used

[code]

The tutorial has not yet been updated accordingly.

[2022-02-17 08:06] WeilerP commented on #815
@michalk8, is there a similar change in other kernels?

[2022-02-17 09:12] michalk8 commented on #815
As far as I remember, no, only this has been split from the ``__init__``.

[2022-02-17 15:43] Marius1311 commented on #811
How did you compute the KNN graph?

[2022-02-17 15:48] Marius1311 commented on #811
(in my analogy, x and y are cells)

[2022-02-17 15:58] Marius1311 commented on #783
In the example below, the eigengap would be inferred aver 5 eigenvalues, so you should compute 5 macrostates, as a starting point. Keep in mind the eigengap statistic is a heuristic though, so take this more as a starting point to your analysis.

![image](https://user-images.githubusercontent.com/24494650/154519713-48007b1d-775e-4728-b2a9-e7c4aff85583.png)

[2022-02-17 15:59] Marius1311 commented on #815
Thanks for spotting this @WeilerP! Would you mind updating the tutorial accordingly?

[2022-02-17 18:53] shaln commented on #813
Thanks, @hyjforesight! I couldn't find `velocity_pseudotime` initially even though I had pre-processed my data using scVelo's dynamical model. This was because I had only ran the following before running CellRank.

[code]

I am now able to get the heatmap and gene expression trends after running `scv.tl.latent_time(disease)` at the end of the above chunk.

[2022-02-17 18:53] #813 closed

[2022-02-17 20:19] WeilerP commented on #815
@michalk8, is this even possible? As far as I can tell, the notebooks at stable and latest are the same, right? So changing the notebook would change it for the stable docs as well even though there, the new API is not yet used. Or am I missing something?

[2022-02-17 20:20] WeilerP commented on #783
@Marius1311, @michalk8, is there a reason why we start counting the eigenvalues at 0? I always found this rather confusing, TBH.

[2022-02-17 20:25] michalk8 commented on #815
You're right, the notebooks aren't versioned into `master`/`dev`. Think we should sooner or later make `master` the development branch again.

[2022-02-18 03:33] hyjforesight opened #816 "The directed PAGA results are inconsistent between the two official tutorials."
Hello CellRank,
I drew the directed PAGA plots on the results of **tutorial [CellRank basics]** and **tutorial [Kernels and estimators]**. Although their absorption probabilities plots are the same, their directed PAGA results are inconsistent.
For detailed codes. Please check my jupyter notebooks here (https://github.com/hyjforesight/CellRank)
![image](https://user-images.githubusercontent.com/75

[2022-02-18 03:43] hyjforesight opened #817 "'Invalid color key. Using grey instead' when drawing ct_pseudotime-directed PAGA on the results of tutorial [CellRank beyond RNA velocity]"
Hello CellRank,
I tried to draw ct_pseudotime-directed PAGA on the results of tutorial [CellRank beyond RNA velocity], but got errors `WARNING: Invalid color key. Using grey instead`.
Could you please help me with this issue?
For detailed codes. Please check my jupyter notebooks here (https://github.com/hyjforesight/CellRank)
![image](https://user-images.githubusercontent.com/75048821/154614566-dd

[2022-02-18 11:44] michalk8 commented on #817
Hi @hyjforesight , there seems to be `NaN` values in the force-directed embedding (they must've come from the original publication and we didn't filter it).
It's only 3 cells, you can remove them as:
[code]

[2022-02-18 16:53] hyjforesight commented on #817
Hello @michalk8
Thanks for solving this problem! It works now!
I realize that `estimator.compute_lineage_drivers()` can only calculate the lineage driver genes for the terminal state. Is it possible to calculate lineage genes for the initial states?
Thanks!
Best,
YJ

[2022-02-19 04:14] hyjforesight commented on #817
Thanks @michalk8 . I close this issue.

[2022-02-19 04:14] #817 closed

[2022-02-19 16:07] michalk8 commented on #816
Yes, but with the inverted directionality, you shouldn't call (`_compute_initial_states()` or `_set_initial_states_from_macrostates()` in the 2nd case, since it will not work - the functions do update the estimator's attributes needed in `compute_absorption_probabilities`.

When `backward=True`, `compute_terminal_states` actually computes the initial states - we couldn't find a better name for it

[2022-02-21 06:21] hyjforesight commented on #816
Hello @michalk8
It's so kind of you to give such a detailed explanation. Now I'm clear about the workflow for computing the initial states.
But, sorry for asking a lot, I'm just a little curious about the functions `estimator._compute_initial_states()` and `estimator._set_initial_states_from_macrostates()`. Does it mean that we should never use these 2 functions because you mentioned them in https

[2022-02-21 15:35] WeilerP opened #818 "Loading of kernels and handling of attached AnnData"
## Description

I ran an analysis on a time series dataset with the WOTKernel and saved it for later use.

[code]

When restarting the analysis and reading the kernel from file, the `AnnData` object in the analysis does not change. Inferring macro states, lineage drivers, etc. only modifies the AnnData attribute of the kernel (seems obvious once you realized it but is a bit confusing when you are

[2022-02-21 15:37] WeilerP opened #819 "`nan` for q values in lineage driver test"
## Description

When running

[code]

all q values are `nan`. Is there a reasonable explanation for this, @michalk8?

[2022-02-21 16:05] WeilerP opened #820 "`GPCCA.compute_lineage_drivers(return_drivers=False)` returns lineage drivers DataFrame"
## Description

When computing the lineage drivers with `g.compute_lineage_drivers(return_drivers=False)` (`g = GPPCA(adata)`) the drviers is returned, nonetheless. This can, for example, be reproduced by running the tutorial for time series data.

#### Versions:

[2022-02-21 16:07] WeilerP commented on #819
Just checked: This is also the case in the real time kernel tutorial.

[2022-02-21 16:16] michalk8 commented on #818
You can save the kernel without the `AnnData` object as `wk.write(fname="wot_kernel", write_adata=False)`.
Afterwards, you can read it as `WOTKernel.read(fname="wot_kernel.pickle", adata=adata)`.
As a 3rd alternative, you can also set the `AnnData` object as `wk.adata = adata`, but I wouldn't recommend doing this.

[2022-02-21 16:17] michalk8 commented on #820
`return_drivers` was removed during estimators refactoring, now it's always being returned.

[2022-02-21 16:22] Marius1311 commented on #783
Not that I recall - happy to change this so that we start counting with 1.

[2022-02-21 16:23] WeilerP commented on #818
Yes, but I **do** want to save the AnnData object. Otherwise, how will I have all the attributes added prior to saving the kernel? Or would these be added automatically when running `WOTKernel.read(fname="wot_kernel.pickle", adata=adata)`?

[2022-02-21 16:24] Marius1311 commented on #819
I've also observed this before.

[2022-02-21 16:25] Marius1311 commented on #820
Closing this.

[2022-02-21 16:25] #820 closed

[2022-02-21 16:27] michalk8 commented on #819
This can be because some gene/lineage has a standard deviation of zero, which results in division by zero, causing the correlation to be `NaN`, which are then later using for `pval/qval` calculation. Are all p-values NaN as well?

[2022-02-21 16:29] WeilerP commented on #819
No, the p values are not `nan`.

[2022-02-21 16:52] michalk8 commented on #819
Strange, this should only happen when the p-values are NaN; running `adata.varm['terminal_lineage_drivers']['Neural_1_pval'].isnull().sum()` in the WOT tutorial,
I get `36` NaN values. Looking at those genes, they all have 0 expression.

[2022-02-21 18:47] hyjforesight commented on #816
Hello @michalk8
I ran the codes as you recommended.
[code]

[2022-02-21 18:53] michalk8 commented on #818
If you mean the `Kernel` attributes, they are saved in the `pickle` file, the read doesn't read anything from `AnnData` to store in the `Kernel`, it's equivalent to:
[code]
Think the `adata = wk.adata` is a better approach though (less places to have inconsistent objects), saving without `AnnData` was developed so that you can separate saving these 2.

[2022-02-21 18:58] michalk8 commented on #819
Since the multiple tests correction can't handle NaN p-values, maybe we just subset non-NaN p-values for the q-value computation.

[2022-02-21 19:14] michalk8 commented on #816
They can be used, but we didn't anticipate people using them, so on the estimator level, there's now nice way of computing absorption probabilities towards them (since it doesn't set the correct attributes). However, this can be changed if you want, just open a new issue for this this and we can discuss with others as well.

In the above examples, since you only have 1 initial state `Ngn3 low EP`,

[2022-02-22 11:41] e1992 opened #821 "Plot cluster lineage optimising advice"
...
Hi,
I've been using cr.pl.cluster_lineage to cluster driver genes in a specific lineage, but some of my clusters look very similar (see attached). What is the best way to optimise this, can I change the clustering resolution in some way? Change n_points does not generate clear clusters. Any pointers would be great! Thanks.

Ive been following the default setting using GAM model:

model = cr.ul

[2022-02-22 13:56] Marius1311 commented on #819
Ok, and what about the case in which the p-values are not NaN? In any case, we should issue a warning for zero-expressed genes (they should have been filtered out before by the user with any standard scanpy filtering anyways).

[2022-02-22 13:58] Marius1311 commented on #816
@michalk8, in case there's only one terminal/initial state with all-1 fate probs, it simply does not make sense to ask for driver genes. In that case, I would just raise an exception, rather than using the stationary distribution. It's unexpected behaviour.

[2022-02-22 13:59] Marius1311 commented on #816
A nice error message is more informative in this case I think.

[2022-02-22 14:22] Marius1311 commented on #821
Note to @michalk8: we should rename this function, I really hard to think hard for a moment about what it does, `cluster_lineage` just sounds like we're clustering lineages, which does not make sense. I suggest something like `cluster_gene_trends`.

[2022-02-22 15:13] Marius1311 commented on #821
@e1992, these clusters look quite bad, essentially all the same. I would try to vary the PCA, clustering and KNN graph parameters, please check the API here: https://cellrank.readthedocs.io/en/stable/api/cellrank.pl.cluster_lineage.html#cellrank.pl.cluster_lineage

See also below.

pca_kwargs ([Dict](https://docs.python.org/3/library/typing.html#typing.Dict)) – Keyword arguments for [scanpy.pp.pca

[2022-02-22 16:57] michalk8 commented on #821
@e1992 They also look the same since the `y` values are not shared and are of slightly different scales, you can try using `sharey=True`. But in general agree with @Marius1311 's comments.

[2022-02-22 16:59] michalk8 commented on #819
As I've suggested, for q-value calculation, let's subset only non-NaN p-values, which occurr when the gene expression for the gene is constant. We can also add the warning that some genes have no variability.

[2022-02-22 17:31] hyjforesight commented on #816
Hello @michalk8 @Marius1311
Thanks for all the guidance! Now, I can reproduce the results of high-level API by using low-level API.
Based on my practice, because CytoTRACE works better than scVelo in our case, we use low-level API more often than the high-level. The most beautiful thing is that, by using low-level API, we can also create our own kernel (Monocle pseudotime, DPT pseudotime) to draw

[2022-02-22 20:16] WeilerP commented on #819
@michalk8, the q-values are also NaN when the p-values are not NaN.

[2022-02-22 20:36] michalk8 commented on #819
If any p-value is NaN, then all q-values are NaN (that's what `statsmodels` does).

[2022-02-23 00:48] kragrawa opened #822 "WARNING: There is only 1 recurrent class, all cells will have probability 1 of going there"
...

Hi, I am trying to run CellRank's kernels and estimators tutorial on my data set, but I do not understand this warning. Three macrostates were identified, but when I run g.compute_absorption_probabilities() I get this warning. Thank you for your help!

[2022-02-23 08:57] SabrinaRichter opened #823 "cr.pl.cluster_fates not working with kernels/estimators"
I would like to use the directed paga plot functionality (cr.pl.cluster_fates) with my GPCCA estimator and PseudotimeKernel.

I used the following Code

[code]
and then calling cluster_fates
[code]
I get this error
[code]

[2022-02-23 13:10] WeilerP opened #824 "Kernel function `compute_projection` has been replaced"
## Description

With #791, the kernel function `compute_projection` has been replaced by `plot_projection`. This has not yet been updated in the docs or notebooks.

[2022-02-23 15:16] michalk8 commented on #823
Similar thing was reported in https://github.com/theislab/cellrank/issues/808
Seems like `g.compute_absorption_probabilities()` doesn't update `adata` for some reason (or maybe `g.adata` is not `adata`).

[2022-02-23 16:33] WeilerP opened #825 "Kernel and estimator tutorial fails in several steps"
## Discussion

Running the Tutorial [Kernels and estimators](https://cellrank.readthedocs.io/en/stable/kernels_and_estimators.html) with the latest developer version of CellRank fails in several steps:

- `ptk.compute_projection()` causes `AttributeError: 'PseudotimeKernel' object has no attribute 'compute_projection'` (already reported in #824)

___

- The cell

[code]

throws the error `ValueErr

[2022-02-23 19:53] hyjforesight opened #826 "Is it reasonable to input regressed-out data into CytoTRACE kernel?"
...
Hello CellRank,
In the `CellRank beyond RNA velocity` tutorial, you input the raw data and do a brief prepocessing. And then initiate the CytoTRACE kernel to do CytoTRACE.
[code]

I proceed with this strategy to my own data.
Strategy 1, the same as the tutorial, no HVG slicing, no regress out, and no scaling, but the CytoTRACE map is very noisy.
[code]
![image](https://user-images.githubuserco

[2022-02-24 09:32] michalk8 opened #827 "TransportMapKernel diagonal connectivities"
Add option to add "local" connectivities (only on the main diagonal) to `TransportMapKernel`.
Currently we can add this optionally only to the last time point.

[2022-02-24 22:40] hyjforesight commented on #816
Hello @michalk8 @Marius1311
Sorry, I reopened this issue because I cannot draw the gene trends of initial states.
[code]

[2022-02-24 23:45] hyjforesight commented on #816
Hello @Marius1311 @michalk8
I found that there is a `backward=True` argument in `cr.pl.gene_trends()` and `cr.pl.heatmap()` for ploting inistial states.
However, for computing terminal state heatmap, the result is not consistent with the `CellRank basics` tutorial.
[code]
![image](https://user-images.githubusercontent.com/75048821/155626160-4923c766-8b57-4aa0-9152-e36a5f1060bb.png)
![image](https:

[2022-02-25 00:47] michalk8 commented on #822
After computing the macrostates, a subset of them is selected (either manually or in your case automatically) as terminal states. Towards these we then calculate absorption probabilities - if there's only 1 terminal state, all other cells will have probability `1` of being absorbed there, which is uninformative.
The automatic setting of terminal states from macrostates relies on the `eigengap` heu

[2022-02-25 15:05] SabrinaRichter commented on #823
Also the set_terminal_states method of the estimator does not set terminal_states_probabilities as promised, neither in adata not g.adata and later on I get this error, but the estimator does not seem to have a '.compute_terminal_states_memberships()' method.

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recen

[2022-02-25 20:01] kaplinserm opened #832 "Multi-flow plot"
...
Hello,
First, thank you so much for your work on cellrank, it's a very useful tool.
Do you plan to implement the multi-flow plot ? I think it will be an extraordinary tool and I am willing to test it on my data if you need, I want to use it in my paper.
Best

[2022-02-26 08:35] Marius1311 commented on #819
I agree, let's go for your suggestion then @michalk8

[2022-02-26 08:46] Marius1311 commented on #826
Hi @hyjforesight, that comparison really relates to the CytoTRACE score (or pseudotime), so you should visualize that, rather than the arrows, which come further down the pipeline and are affected by further processing steps. So please visualize that score on the UMAP, and ideally, if you have a coarse understanding of different **stages** of cell-state transitions in this data, use these to show

[2022-02-28 18:17] michalk8 commented on #816
Hi @hyjforesight ,

this can be because in the basic tutorial, we are using the raw, unprocessed data and in the `Kernels and estimators`, we use the saved data.
Although they should be same, maybe we either changed some parameters in the notebook so his no longer applied or it's because of the updates to `scvelo/scanpy`.
Alternatively, there might be a different default values between the high/lo

[2022-02-28 20:12] thuthao opened #833 "Error while computing terminal states"
Hi,
I was following the instructions from Cell Rank Basic Tutorials. When I tried to calculate the terminal states

 I got an error message and am not sure how to fix this.

[code]

Thank you for your help.
Thao

[2022-02-28 23:42] michalk8 commented on #833
Hi @thuthao , looks like the wrong method for computing Schur decomposition is being used, which is strange, since you don't pass `method=...` and the default is `krylov`.
Could you try running the code below instead?
[code]
Also, please consider using the kernels/estimators interface, since this API is deprecated as mentioned in this tutorial: https://cellrank.readthedocs.io/en/stable/kernels_and

[2022-02-28 23:46] michalk8 commented on #832
Hi @kaplinserm ,

thank you for your interest! The current implementation in https://github.com/theislab/cellrank/tree/plot_multiflow was/is still a work-in-progress, since in our internal benchmarks, we were dissatisfied with how internal model (simple aggregation base on clusters/time points) was being done (@Marius1311 can tell you more). We haven't found another method yet, so this is currentl

[2022-03-01 11:59] Marius1311 commented on #822
I suppose this answered your question @kragrawa

[2022-03-01 11:59] #822 closed

[2022-03-01 15:12] e1992 commented on #821
@Marius1311 @michalk8 Thanks both for your suggestions, I've be able to to optimise the clustering with parameter you suggested

[2022-03-01 18:18] bsmith030465 opened #834 "cr.tl.lineages- ValueError: `2464` value(s) do not sum to 1 (rtol=1e-3).."
Hi,

I was trying to use cr.tl.lineages:

`cr.tl.lineages(adata)`

but get the following error:

`<string>:1: DeprecationWarning: `cellrank.tl.lineages` will be removed in version `2.0`. Please use the `cellrank.kernels` or `cellrank.estimators` interface instead.
Computing absorption probabilities
100%|██████████| 3/3 [01:22<00:00, 27.48s/]
WARNING: `1` solution(s) did not converge
ValueError: `2

[2022-03-01 19:12] michalk8 commented on #834
Hi @bsmith030465 ,
can happen when the matrix is badly conditiond; could you also try `preconditioner='ilu'` and see whether it helps? Also, the default `tol` is `1e-6`, so decreasing it further might also work. related issue #812
Lastly, please consider using the kernels/estimators API mentioned [here](https://cellrank.readthedocs.io/en/stable/kernels_and_estimators.html), this one will be deprec

[2022-03-01 22:47] michalk8 commented on #814
Think this can be closed, the above mentioned steps should work. As far as I'm aware, there isn't anything to do on our side to fix this.

[2022-03-01 22:47] #814 closed

[2022-03-02 00:11] michalk8 commented on #819
closed via #835

[2022-03-02 00:11] #819 closed

[2022-03-02 15:30] bsmith030465 commented on #834
Hi @michalk8 ,

I tried both the options you suggested, before moving onto using the kernels/estimators (as given in the API). I run into the same errors. Here is what I have tried so far:

`g.compute_absorption_probabilities(tol=1e-15)
g.compute_absorption_probabilities(preconditioner='ilu')
g.compute_absorption_probabilities(preconditioner='ilu',tol=1e-15)
g.compute_absorption_probabilities(solv

[2022-03-02 21:17] michalk8 commented on #834
Could you please tell me:
- how many cells you have in your data?
- how did you compute the transition matrix, i.e. which kernel did you use?
- do you use PETSc/SLEPc (`import petsc4py; import slepc4py`)? Based on the above, I'd say yes, just want to be sure  (the `preconditioner` works only in this case)
- how did you select the terminal states, i.e. manually set or computed?

Regarding the last

[2022-03-04 02:25] Marius1311 commented on #816
Hi @hyjforesight, thanks for making us aware of this. As we're planning to deprecate the high-level API in version 2.0 and re-work most of the tutorials, I'll close this issue, but add it to my list of issues that we need to address when re-doing the tutorials.

[2022-03-04 02:25] #816 closed

[2022-03-04 02:29] Marius1311 commented on #833
Hi @thuthao, any updates on this yet?

[2022-03-04 02:30] Marius1311 commented on #832
Sorry, just saw this issue, already commented in the PR, but let's move the discussion here. Basically, @kaplinserm, let us know if you have ideas for how to do this a bit more systematic/principled, happy to hear your ideas.

[2022-03-04 02:32] #821 closed

[2022-03-04 02:42] Marius1311 commented on #834
I'm a bit confused here - @michalk8, you said at the top

Wouldn't *decreasing* the tolerance make it even harder? That's also what our current error message seems to suggest, but wouldn't it make more sense to *increase* the tolerance? Also, I think it would be nice for debugging to print in the error message how *far from one* we are in the worst case, i.e. the max deviation across all rows.

[2022-03-04 02:43] Marius1311 commented on #834
But in this case, I guess the problem originates from one linear solve not converging? In which case I agree @michalk8 we need to know more about the problem/ the transition matrix to diagnose this.

[2022-03-04 02:47] Marius1311 commented on #687
This is pretty generic, should we close for now @michalk8  @WeilerP ?

[2022-03-04 02:48] Marius1311 commented on #744
What's the status here @michalk8 ?

[2022-03-04 02:48] Marius1311 commented on #745
Is this still relevant / do you still want me to take a look at this?

[2022-03-04 02:49] Marius1311 commented on #759
@michalk8, do you want to proceed with this in some way, or can we close this?

[2022-03-04 02:50] #771 closed

[2022-03-04 02:52] Marius1311 commented on #777
How do you want to proceed with this @michalk8 ?

[2022-03-04 02:53] Marius1311 commented on #780
Closing this for now, feel free to re-open of the problem persists.

[2022-03-04 02:53] #780 closed

[2022-03-04 02:57] Marius1311 commented on #789
@michalk8, do you think it's worthwhile to implement this? Should be quite an easy enhancement and quite useful for debugging. Your call.

[2022-03-04 02:57] #794 closed

[2022-03-04 02:58] Marius1311 commented on #797
@michalk8, anything to be done here from our side?

[2022-03-04 02:58] Marius1311 commented on #803
What's the status here?

[2022-03-04 02:59] Marius1311 commented on #811
Hi @117999, did my post above help in any way?

[2022-03-04 03:00] Marius1311 commented on #826
Any updated here @hyjforesight ?

[2022-03-04 04:29] hyjforesight commented on #816
hello @michalk8 @Marius1311
Sorry, I've been working on some wet experiments. Thanks for the response. Looking forward to CellRank v2.0! Awesome!

[2022-03-04 04:37] hyjforesight commented on #826
Hello @Marius1311
[code]
![image](https://user-images.githubusercontent.com/75048821/156700091-0f3887e7-9ab9-4a30-a1ae-782fb96b0478.png)
![image](https://user-images.githubusercontent.com/75048821/156700110-6af0e6c7-3754-4980-93a1-0a372a09725c.png)
![image](https://user-images.githubusercontent.com/75048821/156700143-a4e54ac8-49a9-4176-b202-7300f698a3ec.png)

[code]
![image](https://user-images.gi

[2022-03-04 05:48] 117999 commented on #811
Hi Marius,

Sorry for my late response. I have followed your suggestions to use the connectivities. It appeared that this works well for the expression profile. However, the problem arises when I tried to compute the transition matrix from the VelocityKernel.

Here follows my code.
`sc.pp.neighbors(adata)
vk_n = VelocityKernel(adata,vkey='velocity_T',xkey='X_total')
print(vk_n)
vk_n.compute_transi

[2022-03-05 02:23] thuthao commented on #833
Hi @Marius1311,
Thanks for following up with this question. Fortunately, everything works now. In conclusion, the improper installation of the package was the cause of this error.
I had more than 5k cells and intended to use the krylov version of cellrank but 'conda install -c conda-forge -c bioconda cellrank-krylov' did not work with some errors about incompatible version. So, what I did was usin

[2022-03-06 20:20] Marius1311 opened #836 "Ordering of macrostates"
Hi @michalk8, I'm looking into the new ordering methods you introduced for the `plot_coarse_T` method and I have a few remarks:
- could you please invert the sorting? Most users read figures from left to right, top to bottom. That means the early states, i.e. low stability, should be in the top left corner. Currently, it's the other way around, see Fig. 1 below.
- this should be consistent across

[2022-03-06 20:52] michalk8 commented on #836
Re 1 and 2: ok, that's not a problem.
Re 3: it always sums to 1, so I think it's meaningless.

[2022-03-07 09:26] Pinpin-u1111 opened #837 "Error while running the 'time series datasets' tutoriiall"
I encountered an error while running the 'time series datasets' tutorial

[code]

[code]

#### Versions:

![Error1](https://user-images.githubusercontent.com/53429288/157003791-e2023d00-1c78-438e-b2d0-cf8a24bc7819.png)
![Error2](https://user-images.githubusercontent.com/53429288/157003800-a82e74d5-6f0c-4ba6-ac79-489e5b6ea147.png)

[2022-03-08 13:07] Pinpin-u1111 commented on #837
Thanks a lot for this very prompt answer.
I am actually using numba=='0.54.0'. Should  I  downgrade to 0.53.0?

[2022-03-08 18:59] hyjforesight commented on #816
Hi @michalk8 and @Marius1311
I found that the heat map inconsistency is caused by `n_states=3` of `g_bwd.compute_macrostates(n_states=3, n_cells=30, cluster_key="clusters")`, which means I expected that there will be 3 initial states. When I changed it to `n_states=1`, problem was solved.

[2022-03-09 16:08] #837 closed

[2022-03-09 19:53] keithgmitchell opened #840 "scVelo objects not able to .write h5ad file"
When trying to save my anndata object as h5ad after processing with scVelo with .write
[code]

[2022-03-09 20:22] keithgmitchell opened #838 "Failed model: genes not translating to the model in .gene_trends"
...

[code]

[code]

#### Versions:

Package                           Version              Location
--------------------------------- -------------------- ------------
absl-py                           1.0.0
adjustText                        0.7.3
aiohttp                           3.8.1
aiosignal                         1.2.0
airr                              1.3.1
alabaster

[2022-03-09 20:40] michalk8 commented on #838
Hi @keithgmitchell ,
could you please post the full traceback? It contains the information needed for debugging.

[2022-03-10 19:57] michalk8 commented on #838
Thank you! The problem seems with passing `color`:
```TypeError: prepare() got an unexpected keyword argument 'color'```
Think you'd need to pass it as `plot_kwargs={'cell_color': 'pterotyping_donor__anno'}`;
see other options for plotting here: https://cellrank.readthedocs.io/en/stable/api/cellrank.ul.models.GAM.plot.html#cellrank.ul.models.GAM.plot

[2022-03-11 16:17] michalk8 commented on #745
Yes and yes, I remember there's a still bug when clusters include `_something` in the end.

[2022-03-11 20:28] kmh005 commented on #797
Hi,
I have been working through the scvelo ->cellrank paga directed graphs workflow, and have tried to save the adata with `adata.write` . Data has saved successfully up until this workflow. As per suggestion above, I upgraded to `anndata @ git+https://github.com/theislab/anndata@8cc6ddc1fb6df0523482b3184aca461c57e93f99`  with `cellrank 1.5.1` and `scvelo 0.2.4`.
I get roughly the same error, `Not

[2022-03-13 06:00] keithgmitchell commented on #838
Ahh did not see that in the traceback, thank you!

[2022-03-13 06:00] #838 closed

[2022-03-15 23:39] michalk8 commented on #836
Outgoing included, diagonal ignored. Closed via #839

[2022-03-15 23:39] #836 closed

[2022-03-17 10:33] Marius1311 commented on #826
Hi @hyjforesight, does the numbering (0-5) reflect what you believe to be the biological order of clusters in this data?

[2022-03-17 10:34] Marius1311 commented on #826
Re what type of processed data: see CytoTRCE tutorial and the original paper please.

[2022-03-17 10:36] Marius1311 commented on #811
Did you check all the inputs carefully? Are there Nan's in `velocity_T` or `X_total`? What are the dimensions of these matrices, etc?  Do some sanity checks before feeding into the velocity kernel please

[2022-03-17 10:45] Marius1311 commented on #833
Great, happy that this worked and thanks for updating us!

[2022-03-17 10:45] #833 closed

[2022-03-17 11:04] Marius1311 commented on #837
Thanks @michalk8 for taking care, great solution as always.

[2022-03-17 11:08] Marius1311 commented on #745
Realistically I won't be able to do this anytime soon I'm afraid. Can leave this open though for now.

[2022-03-17 11:10] Marius1311 commented on #797
@michalk8, it seems like we write an AnnData object to AnnData.uns, do we really want to do this? @ivirshup asked me that recently as well.

[2022-03-17 12:20] michalk8 commented on #797
Should be doable in the newest `AnnData` version, let's stick with this. Will update the requirements + add a test case for this.

[2022-03-17 12:30] ivirshup commented on #797
I think it's fine, this should work with `anndata==0.8.0` (IIRC @cramsuig has confirmed this). I was more curious about why it was being done this way.

[2022-03-17 12:59] Marius1311 commented on #797
Thanks! Anything to be done here @michalk8 to help @kmh005 ?

[2022-03-17 23:52] michalk8 commented on #818
Would converge that the best practice is `adata = wk.adata`. I could try fancy stuff like modifier callee's frame after load and creating the `adata` reference automatically, but this is too intrusive. Closing this, feel free to re-open.

[2022-03-17 23:52] #818 closed

[2022-03-17 23:55] michalk8 commented on #823
I've discussed this with Sabrina, the issue was that estimators are after stateful and will try to maintain consistency in self and the linked AnnData by e.g. unsetting absorption probabilities in terminal states have changed. This will be documented in the new tutorials + I will mention this explicitly in the docs as well when moving for the 2.0 release.
Closing this

[2022-03-17 23:55] #823 closed

[2022-03-17 23:57] michalk8 commented on #744
closed in favor of #803

[2022-03-17 23:57] #744 closed

[2022-03-17 23:59] michalk8 commented on #620
closed in favor of #832

[2022-03-17 23:59] #620 closed

[2022-03-18 00:09] michalk8 commented on #827
closed via #828

[2022-03-18 00:09] #827 closed

[2022-03-18 00:11] michalk8 commented on #797
Updating to the newest `anndata` (0.8.0) should make it work. Can revert this and use `pandas.DataFrame` instead.

[2022-03-18 17:37] kmh005 commented on #797
Thanks for you help with this. My pip install version is 0.8.0rc2.dev4+g8cc6ddc . Is this the recommended version?

[2022-03-20 18:40] JesseRop commented on #629
Is it possible to include the legend for the variables added with the `covariate_key` ?

[2022-03-20 19:24] michalk8 commented on #629
Currently, this is not possible. If you'd like to have this feature included, please open an issue for this.

[2022-03-21 11:48] michalk8 commented on #840
The data is now saved as `dict`, closed via #842

[2022-03-21 11:48] #840 closed

[2022-03-21 13:16] michalk8 commented on #797
I've changed it so that a `dict` is saved, instead of `AnnData`. You can try updating `CellRank` to `dev` as `pip install git+https://github.com/theislab/cellrank@dev`

Closing this via #841 , feel free to re-open if any related problems arise.

[2022-03-21 13:16] #797 closed

[2022-03-21 16:06] ivirshup commented on #797
@michalk8, why did you end up removing that? Did you just not want to rely on `anndata>=0.8`?

[2022-03-21 16:58] michalk8 commented on #797
Yes, since it's the newest version and we'd need it only in this place. For compatibility with `scanpy/scvelo`, think it' better not to have this stricter requirement.

[2022-03-21 18:33] kmh005 commented on #797
Hi,
I set my pip install to 0.8.0 as instructed. I get a different error trying to save the anndata, any guidance most appreciated.

[code]

[2022-03-21 22:43] michalk8 commented on #797
Seems like in `anndata==0.8.0` with the IOSpec changes, writing `Lineage` class is broken, minimal reproducible example:
[code]

I will implement a proper reader/writer in #777 and request `anndata>=0.8.0` + revert the changed made in #841 .
In the meantime, I'd recommend downgrading `anndata<0.8` and installing cellrank from `master` as `pip install git+https://github.com/theislab/cellrank` as te

[2022-03-21 22:46] michalk8 opened #845 "Fix pandoc"
`pypandoc` causes docs build to fail.

See e.g. https://readthedocs.org/projects/cellrank/builds/16429649/

[code]

#### Versions:

[2022-03-22 17:35] michalk8 commented on #797
Hmm, this is unexpected. As a last resort, you can remove the values that cause this issue before saving:
[code]

[2022-03-23 10:57] ivirshup commented on #777
@michalk8, as we had discussed before (last year?), I recommend against creating a custom on-disk schema for the Lineage class if you can avoid it.

* It seems like casting things that have been read as arrays to `Lineage` objects works fine at the moment
* If cellrank hasn't been imported, other libraries will not be able to read in AnnData's containing Lineages
* Libraries from other languages w

[2022-03-24 07:57] Marius1311 commented on #823
Thanks for working this out with @SabrinaRichter @michalk8

[2022-03-24 07:59] Marius1311 commented on #827
Great, thanks a lot @michalk8

[2022-03-28 08:49] jiangpuxuan opened #846 "scv.pl.proportions(): numpy.AxisError in `Cellrank` workflow."
I am new to use python to anlyze scRNA-seq. I run the `cellrank` workflow and always found this error.
Here is my code for `Cellrank`:
[code]
The errorcode:
[code]

I tried to use `SeuratDisk` or `loom` to get `h5ad` from a `seurat` object. I thought that must be some problem in this progress.

Here is the anndata object from tutorial:
[code]
Here is mine:
[code]

So, What packages or protocols sh

[2022-03-28 10:43] michalk8 commented on #846
Hi @jiangpuxuan , this is an `scvelo` issue, I will transfer it there. Also please try to provide a full traceback of the error for easier debugging.

[2022-03-28 12:33] michalk8 commented on #846
@WeilerP could you please transfer the issue?

[2022-03-28 12:50] jiangpuxuan commented on #846
I am very sorry that I have not metioned this .... And thank you for your transfering!

[2022-03-28 20:38] michalk8 commented on #846
closed in favor of https://github.com/theislab/scvelo/issues/851

[2022-03-28 20:38] #846 closed

[2022-03-28 23:59] hyjforesight commented on #826
hello @Marius1311
Thanks for the late response.

That's the tricky part because we're analyzing the cancer data, of which the clusters cannot be annotated with existing knowledge.  So it would be important to decide which type of data should be used because the directions and pseudotime will affect our conclusions. For example, if we use the raw data with no HVG sliced (like your official tutorial

[2022-03-30 09:55] Marius1311 commented on #826
Hi YJ, please let me know whether your question persists once you've read the original publication. thanks.

[2022-04-05 20:32] hyjforesight commented on #826
hello @Marius1311
Sorry for the late response. I enjoyed reading your amazing paper. It updated my understanding of CellRank.
In the paper, RNA velocity-based analysis was demonstrated as an example for elucidating CellRank. Just the same as the scVelo package does, raw data was input, normalized, HVG selected, and then proceeded with CellRank. I have no doubt about these procedures. We did the sa

[2022-04-05 21:16] JesseRop opened #847 "installation of latest development version from github not working"
Installation of cellrank in conda environment from github doesn't work

[code]

[code]

#### Conda environment:
...
 _libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       1_gnu    conda-forge
alsa-lib                  1.2.3                h516909a_0    conda-forge
anndata                   0.8.0            py39hf3d152e_0    con

[2022-04-05 21:20] michalk8 commented on #847
Hi @JesseRop , `dev` branch was merged and removed into `master`, this should work:
[code]
Looking at the docs, it's not updated even [here](https://cellrank.readthedocs.io/en/latest/installation.html), will fix.

[2022-04-06 19:21] michalk8 commented on #847
Think the above should work; closed via https://github.com/theislab/cellrank/commit/83597da6ecc8910b4802abe0103ad5c9009d09c6

[2022-04-06 19:21] #847 closed

[2022-04-07 08:40] WeilerP opened #849 "Outdated docs for `WOTKernel.compute_transition_matrix`"
## Description

The docs for the `WOTKernel.compute_transition_matrix` are outdated. They still list `last_time_point` as a possible argument, for example, which was changed to `self_transitions` in #828.

[2022-04-07 09:51] #845 closed

[2022-04-07 12:24] michalk8 commented on #849
The docs should be now updated on `latest` docs (after the `pandoc` fix), but I found `docrep` was not correctly interpolating some parameters.

[2022-04-07 12:54] WeilerP commented on #849
Ah sorry, yes, I was on stable. But they are still not shown correctly on `latest`.

Is this what you mean?

<img width="678" alt="Screenshot 2022-04-07 at 2 53 16 PM" src="https://user-images.githubusercontent.com/28675704/162203391-ce68ca83-be3b-4d3c-8f67-4c12f59823de.png">

[2022-04-07 13:33] michalk8 commented on #849
Yes, should be fixed now.

[2022-04-07 18:06] #803 closed

[2022-04-11 13:04] jiangpuxuan opened #852 "Is `magicked` data recommanded for `cellrank` pipeline?"
I use `velocyte` to get `.loom` from 10x results, and  `seurat`, then transform the `seurat` object into  `adata` and run `scvelo + cellrank` pipeline.
However, I found huge differences between the raw `RNA` and `MAGIC_RNA` results.

<img width="342" alt="3dc3e8cc1d210f9b65d444d08688eff" src="https://user-images.githubusercontent.com/81287604/162745414-66d9b1db-36e8-449d-a5ce-b359fd08b706.png">

[2022-04-11 13:35] jiangpuxuan opened #853 "Does meiosis have some impact on RNA velocity?"
I used my scRNA-seq data of germ cells to run `cellrank` pipeline, but got very strange results... That means, by the expression of som well-known marker genes, I can annotate the dataset with 'early germ cells' and 'late germ cells'.
However, the results of cellrank  `Identify terminal states` did not meets the marker gene expression at all.

The paper [Single-Cell RNA Sequencing of the Cynomolgu

[2022-04-12 14:21] Marius1311 commented on #852
Hi @jiangpuxuan, this seems to be an scVelo question I suppose? I'm closing this issue here, please re-open in the scVelo repo and try to be a bit more specific - e.g. how exactly does MAGIC enter the pipeline, do you use it to replace moment-imputed counts? etc.

[2022-04-12 14:21] #852 closed

[2022-04-12 14:24] jiangpuxuan commented on #852
I am sorry for this ambiguty. Then I would open this issue on  scvelo.

[2022-04-14 15:11] MoritzTh opened #854 "Lineage drivers using CytoTRACEKernel"
Hi,
I was following the [Cellrank beyond RNA velocity tutorial ](https://cellrank.readthedocs.io/en/stable/beyond_rna_velocity.html#) using the CytoTRACEKernel. Everything works fine until the end of the tutorial, however, when I try to compute lineage drivers via ```g_fwd.lineage_drivers(adata)``` it results in the error: ```TypeError: 'NoneType' object is not callable```. Do you know how to prop

[2022-04-14 15:54] michalk8 commented on #854
Hi @MoritzTh ,

it should be called as :
[code]

[2022-04-15 11:39] JesseRop opened #855 "Latest cellrank github version not replicating 'CellRank beyond RNA velocity' by failing to run CytoTRACEKernel"
I am not able to replicate the tutorial for  'CellRank beyond RNA velocity' CytoTRACEKernel here https://cellrank.readthedocs.io/en/stable/beyond_rna_velocity.html

I an error after attempting to visually assess the computed CytoTRACE pseudotime. It seems the pseudotime is not calculated by the CytoTRACEKernel command
...

[code]

[code]

#### Versions:

[2022-04-15 11:49] MoritzTh commented on #854
Got it, thanks!

[2022-04-15 11:49] #854 closed

[2022-04-15 15:56] michalk8 commented on #855
Hi @JesseRop , current tutorials are unfortunately not up-to-date, see https://github.com/theislab/cellrank_notebooks/issues/43

In short, you need to run:
[code]

[2022-04-16 02:59] hyjforesight opened #856 "Fatal model failure"
Hello CellRank,
I'm running the CytoTRACE kernel. Everything works fine until plotting the gene trends.
Appreciate if you could help me with this issue.
Thanks!
Best,
YJ

[code]

[code]

#### Versions:
scanpy==1.8.2 anndata==0.7.8 umap==0.5.2 numpy==1.21.5 scipy==1.7.3 pandas==1.3.5 scikit-learn==1.0.2 statsmodels==0.13.1 python-igraph==0.9.9 pynndescent==0.5.5
scvelo==0.2.4  scanpy==1.8.2  anndat

[2022-04-16 03:20] hyjforesight opened #857 "TypeError: Expected object to be `categorical`, found `string` when doing g_bwd.set_terminal_states()"
Hello CellRank,
I compute the initial state automatically by `g_bwd.compute_terminal_states()`, but the result is not consistent with the existing knowledge. So we tried to set the initial state manually by `g_bwd.set_terminal_states()`, but we met TypeError.
Appreciate it if you could help us with this issue.
Thanks!
Best,
YJ

[code]

[code]

#### Versions:
scanpy==1.8.2 anndata==0.7.8 umap==0.5.

[2022-04-16 21:10] JesseRop commented on #855
Hi @michalk8 , many thanks for promptly attending to this. Your suggestion works!
However, I just realized that CytoTRACE's assumption ('the number of genes expressed in a cell decreases during differentiation') does not apply to the organism that I'm studying.

I'm therefore considering the PseudotimeKernel since I know the direction of differentiation and all the initial/terminal fates in my dat

[2022-04-17 17:20] michalk8 commented on #857
Hi @hyjforesight ,

`.set_terminal_states` accepts these types of inputs:
- either you supply a categorical `pandas.Series` where non-NaN values mark the terminal states
- or you pass as a `dict` of e.g. `{'prolif1': ['obs_name1', ...], 'prolif2': ['obs_name2', ...]}`
- or you pass as a `dict` with 1 key only corresponding to a categorical `adata.obs`, e.g.,
  `labels={'clusters': ['Proliferating'

[2022-04-17 17:25] michalk8 commented on #856
Hi @hyjforesight ,

the error shows that `ValueError: y data is not in domain of log link function. Expected domain: [0.0, inf], but found [-0.26, 2.31]` and we use by default `log` link function, which has to have `[0.0, inf]`.
I would assume that the data in `adata.X` is somehow normalized (therefore the negative values), so I'd recommend either to change the link function that can support this

[2022-04-17 18:01] michalk8 commented on #855
`PseudotimeKernel` already uses `ConnectivityKernel` to bias the connectivities using 2 different approaches depending on selected [threshold scheme](https://cellrank.readthedocs.io/en/stable/api/cellrank.tl.kernels.PseudotimeKernel.compute_transition_matrix.html#cellrank.tl.kernels.PseudotimeKernel.compute_transition_matrix), so there's no advantage of combining these two if using the same connec

[2022-04-17 20:43] JesseRop commented on #855
Many thanks for your assistance with this. I will just run the PseudotimeKernel by itself.

[2022-04-18 19:39] hyjforesight commented on #856
Hello @michalk8
Thanks for the response. Just as you mentioned, I found that this error was caused by I running the regression without scaling the data. I used the raw data and error was solved. Thanks!

[2022-04-18 19:39] #856 closed

[2022-04-18 19:41] hyjforesight commented on #857
Hello @michalk8
Thanks for the response. I called the `labels={'clusters': ['Proliferating']` and error was solved. It was my fault that I was not familiar with the `dist` operation. Thanks for your help!
Best,
YJ

[2022-04-18 19:41] #857 closed

[2022-04-19 18:33] Priyankanator commented on #780
Hi -
I am getting the same error -
running PAGA using priors: ['velocity_pseudotime', 'initial_states_probs', 'terminal_states_probs']

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-138-80467349d82c> in <module>()
      7     root_key="initial_states_probs",
      8     end_key=

[2022-04-20 11:18] hoangan-nguyen opened #858 "PETSC ERROR when running compute_absorption_probabilities"
Hi,

I got the PETSC ERROR when trying to run the function `compute_absorption_probabilities`. Seems that it finished computing the absorption_probabilities but somehow the PETSC tool raised the error.

[code]

#### Versions:
cellrank==1.4.0 scanpy==1.9.1 anndata==0.8.0 numpy==1.21.4 numba==0.52.0 scipy==1.7.3 pandas==1.3.5 pygpcca==1.0.3 scikit-learn==1.0.2 statsmodels==0.13.2 python-igraph==0.9.

[2022-04-21 09:45] giovp opened #859 "wotkernel error with `wk.compute_transition_matrix` call"
[code]

<details>
<summary>Error</summary>

[code]

[code]

[2022-04-21 09:53] michalk8 commented on #855
Closing this, the outdated tutorial will be handled in https://github.com/theislab/cellrank_notebooks/issues/43

[2022-04-21 09:53] #855 closed

[2022-04-21 11:04] giovp commented on #859
sorry was running tutorial and switched off my brain. thanks!

[2022-04-21 15:57] michalk8 commented on #858
Did you use by any chance `n_jobs>1` and `'multiprocessing'/'loky'` backend? Looking at e.g. https://github.com/clawpack/pyclaw/issues/62, forking the Python process might cause this issue. In principle, you could set `backend='threading'` to see if this persists.

[2022-04-22 12:00] JesseRop opened #862 "Setting a higher number for 'n_cells=' argument in cellrank.tl.estimators.GPCCA.set_terminal_states_from_macrostates"
Dear developers, thank you very much for the great tool that is very easy to use and informative. I would like to know whether setting a higher 'n_cells=' number in cellrank.tl.estimators.GPCCA.set_terminal_states_from_macrostates increases power to identify drivers genes? The default number is 30 and this seems very small. I have >500 cells in my terminal clusters.

Thanks,
Jesse

[2022-04-24 07:32] jiangpuxuan opened #863 "Results of `cr.tl.lineage_drivers(adata)` have no index column."
Hi,
I worked with the `.h5ad` file converted from `seurat` object,  and `DefaultAssay(seurat_object)` is `MAGIC_RNA`.
Here is my `adata.var`, every gene has its name:
<img width="206" alt="e0e4eb7c257f710924271b4a0219169" src="https://user-images.githubusercontent.com/81287604/164965208-ebdb59e6-3eb2-492d-80a3-70319bd6301e.png">

But the results of `cr.tl.lineage_drivers(adata)`   have no index co

[2022-04-24 13:59] leahrosen opened #864 "New openmpi conda-forge version does not install libmpi.so.40"
Hi, I've solved the issue, but thought it was worth flagging the bug:

I just installed cellrank using:
[code]

When I run `g.compute_schur(n_components=20)` I get the following error: `ImportError: libmpi.so.40: cannot open shared object file: No such file or directory`. When I checked `/software/conda_envs/cellrank/lib` I could not find `libmpi.so.40`

I noticed that openmpi=4.1.3 was only uploa

[2022-04-24 20:12] michalk8 commented on #863
Hi @jiangpuxuan ,

`cr.tl.lineage_drivers` take the index from `adata.var_names` (or `adata.raw.var_names`, if `use_raw=True`), which in your case seems to be numeric values. Try setting the index before as `adata.var_names = adata.var['_index']`.

[2022-04-26 08:19] michalk8 commented on #864
Thanks for pointing this out! Will adjust the conda yaml file for the next release.